.p-Blog.Flex532 {
display: flex;
align-items: center;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10px;
padding-bottom: 50px;
padding-top: 50px;
}
.p-Blog.Flex531 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: 65px;
padding-bottom: 85px;
align-items: center;
justify-content: center;
}
.p-Blog.Flex530 {
display: flex;
width: 85%;
flex-direction: column;
row-gap: 68px;
align-items: center;
}
.p-Blog.Flex528 {
display: flex;
align-items: stretch;
overflow: visible;
background-color: #000000;
justify-content: flex-start;
cursor: pointer;
}
.p-Blog.Flex523 {
display: flex;
flex-direction: column;
row-gap: 2.4em;
padding-bottom: 70px;
justify-content: flex-start;
align-items: stretch;
position: static;
padding-top: 70px;
background-color: #000000;
color: #fdfdfd;
padding-left: 70px;
padding-right: 70px;
margin-left: 0px;
width: 70%;
}
.p-Blog.Flex516 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.85em;
font-weight: 400;
align-items: center;
}
.p-Blog.Flex517 {
display: flex;
flex-direction: column;
row-gap: 0.9em;
align-items: flex-start;
}
.p-Blog.Flex546 {
display: flex;
width: ;
height: ;
}
.p-Blog.Flex551 {
display: flex;
align-items: stretch;
overflow: visible;
background-color: #000000;
justify-content: flex-start;
cursor: pointer;
}
.p-Blog.Flex549 {
display: flex;
width: ;
height: ;
}
.p-Blog.Flex550 {
display: flex;
flex-direction: column;
row-gap: 2.4em;
padding-bottom: 70px;
justify-content: flex-start;
align-items: stretch;
position: static;
padding-top: 70px;
background-color: #000000;
color: #fdfdfd;
padding-left: 70px;
padding-right: 70px;
margin-left: 0px;
width: 70%;
}
.p-Blog.Flex547 {
display: flex;
flex-direction: column;
row-gap: 0.9em;
align-items: flex-start;
}
.p-Blog.Flex548 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.85em;
font-weight: 400;
align-items: center;
}
.p-Blog.Flex574 {
display: flex;
align-items: stretch;
overflow: visible;
background-color: #000000;
justify-content: flex-start;
cursor: pointer;
}
.p-Blog.Flex572 {
display: flex;
flex-direction: column;
row-gap: 2.4em;
padding-bottom: 70px;
justify-content: flex-start;
align-items: stretch;
position: static;
padding-top: 70px;
background-color: #000000;
color: #fdfdfd;
padding-left: 70px;
padding-right: 70px;
margin-left: 0px;
width: 70%;
}
.p-Blog.Flex570 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.85em;
font-weight: 400;
align-items: center;
}
.p-Blog.Flex571 {
display: flex;
flex-direction: column;
row-gap: 0.9em;
align-items: flex-start;
}
.p-Blog.Flex573 {
display: flex;
width: ;
height: ;
}
.p-Blog.Flex579 {
display: flex;
align-items: stretch;
overflow: visible;
background-color: #000000;
justify-content: flex-start;
cursor: pointer;
}
.p-Blog.Flex577 {
display: flex;
flex-direction: column;
row-gap: 2.4em;
padding-bottom: 70px;
justify-content: flex-start;
align-items: stretch;
position: static;
padding-top: 70px;
background-color: #000000;
color: #fdfdfd;
padding-left: 70px;
padding-right: 70px;
margin-left: 0px;
width: 70%;
}
.p-Blog.Flex575 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.85em;
font-weight: 400;
align-items: center;
}
.p-Blog.Flex576 {
display: flex;
flex-direction: column;
row-gap: 0.9em;
align-items: flex-start;
}
.p-Blog.Flex578 {
display: flex;
width: ;
height: ;
}
.p-Blog.Flex584 {
display: flex;
align-items: stretch;
overflow: visible;
background-color: #000000;
justify-content: flex-start;
cursor: pointer;
}
.p-Blog.Flex582 {
display: flex;
flex-direction: column;
row-gap: 2.4em;
padding-bottom: 70px;
justify-content: flex-start;
align-items: stretch;
position: static;
padding-top: 70px;
background-color: #000000;
color: #fdfdfd;
padding-left: 70px;
padding-right: 70px;
margin-left: 0px;
width: 70%;
}
.p-Blog.Flex580 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.85em;
font-weight: 400;
align-items: center;
}
.p-Blog.Flex581 {
display: flex;
flex-direction: column;
row-gap: 0.9em;
align-items: flex-start;
}
.p-Blog.Flex583 {
display: flex;
width: ;
height: ;
}
.p-Blog.Flex969 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-Blog.Flex968 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 30px;
padding-left: ;
margin-top: ;
}
.p-Blog.Flex965 {
display: flex;
margin-top: 50px;
column-gap: 3px;
row-gap: ;
font-size: 1.4em;
color: #8A95AD;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Blog.Flex966 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-Blog.Flex963 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-Blog.Flex959 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Blog.Flex960 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Blog.Flex961 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Blog.Flex964 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-Blog.Flex962 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-Blog.Flex967 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-Blog.Flex977 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Blog.Flex976 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-Blog.Flex975 {
display: flex;
flex-direction: row;
column-gap: 26.2px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.5px;
font-weight: 500;
}
.p-Blog.Flex973 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.Menu16 {
display: none;
}
.p-Blog.Flex974 {
display: flex;
}
.p-Blog.Flex972 {
display: flex;
}
.p-Blog.Flex971 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-Blog.Flex970 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.Image154 {
height: 0.73em;
width: 0.78em;
}
.p-Blog.TextBox399 {
;
}
.p-Blog.TextBox400 {
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.p-Blog.TextBox401 {
font-family: IBM Plex Sans;
font-size: 4.25em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-Blog.Image159 {
width: 100%;
height: ;
}
.p-Blog.Image164 {
width: 100%;
height: ;
}
.p-Blog.TextBox415 {
font-family: IBM Plex Sans;
font-size: 4.25em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-Blog.TextBox949 {
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.p-Blog.TextBox417 {
;
}
.p-Blog.Image163 {
height: 0.73em;
width: 0.78em;
}
.p-Blog.Image172 {
height: 0.73em;
width: 0.78em;
}
.p-Blog.TextBox430 {
;
}
.p-Blog.TextBox432 {
font-family: IBM Plex Sans;
font-size: 4.25em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-Blog.TextBox950 {
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.p-Blog.Image173 {
width: 100%;
height: ;
}
.p-Blog.Image174 {
height: 0.73em;
width: 0.78em;
}
.p-Blog.TextBox433 {
;
}
.p-Blog.TextBox435 {
font-family: IBM Plex Sans;
font-size: 4.25em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-Blog.TextBox951 {
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.p-Blog.Image175 {
width: 100%;
height: ;
}
.p-Blog.Image176 {
height: 0.73em;
width: 0.78em;
}
.p-Blog.TextBox436 {
;
}
.p-Blog.TextBox438 {
font-family: IBM Plex Sans;
font-size: 4.25em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-Blog.TextBox952 {
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.p-Blog.Image177 {
width: 100%;
height: ;
}
.p-Blog.Link275 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.Link276 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.Link277 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.TextBox892 {
;
}
.p-Blog.TextBox893 {
;
}
.p-Blog.TextBox894 {
;
}
.p-Blog.Link278 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.TextBox895 {
;
}
.p-Blog.Link279 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.TextBox896 {
;
}
.p-Blog.Link280 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.TextBox897 {
;
}
.p-Blog.TextBox881 {
cursor: pointer;
}
.p-Blog.TextBox882 {
cursor: pointer;
}
.p-Blog.TextBox883 {
cursor: pointer;
}
.p-Blog.TextBox884 {
cursor: pointer;
}
.p-Blog.TextBox885 {
cursor: pointer;
}
.p-Blog.TextBox886 {
cursor: pointer;
}
.p-Blog.TextBox887 {
cursor: pointer;
}
.p-Blog.TextBox888 {
cursor: pointer;
}
.p-Blog.TextBox889 {
cursor: pointer;
}
.p-Blog.TextBox891 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Blog.Image282 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-Blog.TextBox890 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Blog.Image281 {
width: 30px;
}
.p-Blog.TextBox898 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-Blog.TextBox899 {
font-size: ;
}
.p-Blog.Image285 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-Blog.TextBox906 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox907 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox908 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox909 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox905 {
;
}
.p-Blog.Image284 {
;
}
.p-Blog.TextBox901 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox902 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox903 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.TextBox904 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Blog.Image283 {
;
}
.p-Blog.TextBox900 {
;
}
@media screen and (max-width: 991px) {
	.p-Blog.Flex551.bpt {
align-items: stretch;
padding-bottom: ;
justify-content: center;
flex-direction: column;
	}
	.p-Blog.Flex574.bpt {
align-items: stretch;
padding-bottom: ;
justify-content: center;
flex-direction: column;
	}
	.p-Blog.Flex579.bpt {
align-items: stretch;
padding-bottom: ;
justify-content: center;
flex-direction: column;
	}
	.p-Blog.Flex584.bpt {
align-items: stretch;
padding-bottom: ;
justify-content: center;
flex-direction: column;
width: 100%;
	}
	.p-Blog.Flex977.bpt {
width: px;
position: static;
	}
	.p-Blog.Flex973.bpt {
column-gap: 6px;
	}
	.p-Blog.Flex970.bpt {
column-gap: 6px;
	}
	.p-Blog.Flex528.bpt {
align-items: stretch;
padding-bottom: ;
justify-content: center;
flex-direction: column;
	}
	.p-Blog.Flex550.bpt {
margin-left: ;
padding-bottom: 70px;
margin-bottom: ;
width: ;
padding-left: 70px;
padding-top: 70px;
padding-right: 70px;
	}
	.p-Blog.Flex572.bpt {
margin-left: ;
padding-bottom: 70px;
margin-bottom: ;
width: ;
padding-left: 70px;
padding-top: 70px;
padding-right: 70px;
	}
	.p-Blog.Flex577.bpt {
margin-left: ;
padding-bottom: 70px;
margin-bottom: ;
width: ;
padding-left: 70px;
padding-top: 70px;
padding-right: 70px;
	}
	.p-Blog.Flex582.bpt {
margin-left: ;
padding-bottom: 70px;
margin-bottom: ;
width: ;
padding-left: 70px;
padding-top: 70px;
padding-right: 70px;
	}
	.p-Blog.Flex966.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-Blog.Flex976.bpt {
padding-top: 40px;
	}
	.p-Blog.Flex975.bpt {
column-gap: 28px;
display: none;
	}
	.p-Blog.Flex972.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-Blog.Flex971.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-Blog.Flex532.bpt {
width: ;
padding-bottom: 50px;
padding-top: 50px;
	}
	.p-Blog.Flex531.bpt {
width: 80%;
padding-bottom: 85px;
	}
	.p-Blog.Flex530.bpt {
width: 85%;
	}
	.p-Blog.Flex523.bpt {
margin-left: ;
padding-bottom: 50px;
margin-bottom: ;
width: ;
padding-left: 50px;
padding-top: 50px;
padding-right: 50px;
	}
	.p-Blog.Flex969.bpt {
font-size: 10.5px;
	}
	.p-Blog.Flex968.bpt {
row-gap: 70px;
	}
	.p-Blog.Flex963.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-Blog.Flex967.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-Blog.Menu16.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-Blog.Flex974.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
}
@media screen and (max-width: 767px) {
	.p-Blog.Flex965.bpt {
flex-direction: row;
font-size: 1.4em;
display: none;
	}
	.p-Blog.Flex966.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-Blog.Flex964.bpt {
font-size: 1.2em;
	}
	.p-Blog.Flex975.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-Blog.Flex971.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-Blog.Flex532.bpt {
font-size: 9px;
padding-top: 30px;
	}
	.p-Blog.Flex531.bpt {
padding-top: 40px;
padding-bottom: 45px;
	}
	.p-Blog.Flex530.bpt {
width: 100%;
	}
	.p-Blog.Flex523.bpt {
padding-left: 30px;
padding-bottom: 30px;
padding-right: 30px;
padding-top: 30px;
	}
	.p-Blog.Flex969.bpt {
font-size: 10px;
	}
	.p-Blog.Flex968.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-Blog.Flex963.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-Blog.Flex967.bpt {
font-size: 4.2em;
	}
	.p-Blog.Menu16.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-Blog.Flex974.bpt {
right: 0;
width: 90vw;
	}
	.p-Blog.Image159.bpt {
width: 100%;
height: ;
	}
	.p-Blog.Image164.bpt {
width: 1000%;
height: ;
	}
	.p-Blog.Image173.bpt {
width: 100%;
height: ;
	}
	.p-Blog.Image175.bpt {
width: 100%;
height: ;
	}
	.p-Blog.Image177.bpt {
width: 100%;
height: ;
	}
}
@media screen and (max-width: 478px) {
	.p-Blog.Flex532.bpt {
font-size: 7.5px;
	}
	.p-Blog.Flex531.bpt {
width: 90%;
	}
	.p-Blog.Flex530.bpt {
width: 100%;
overflow: hidden;
	}
	.p-Blog.Flex528.bpt {
width: 100%;
	}
	.p-Blog.Flex523.bpt {
padding-left: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-top: 25px;
font-size: 7px;
	}
	.p-Blog.Flex516.bpt {
font-size: 2em;
	}
	.p-Blog.Flex546.bpt {
width: 100%;
height: 100%;
	}
	.p-Blog.Flex549.bpt {
width: 100%;
	}
	.p-Blog.Flex550.bpt {
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-top: 40px;
	}
	.p-Blog.Flex548.bpt {
font-size: 2em;
	}
	.p-Blog.Flex572.bpt {
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-top: 40px;
	}
	.p-Blog.Flex570.bpt {
font-size: 2em;
	}
	.p-Blog.Flex577.bpt {
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-top: 40px;
	}
	.p-Blog.Flex575.bpt {
font-size: 2em;
	}
	.p-Blog.Flex582.bpt {
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-top: 40px;
	}
	.p-Blog.Flex580.bpt {
font-size: 2em;
	}
	.p-Blog.Flex969.bpt {
font-size: 9.5px;
	}
	.p-Blog.Flex968.bpt {
width: 90%;
	}
	.p-Blog.Flex963.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-Blog.Flex962.bpt {
cursor: pointer;
	}
	.p-Blog.Flex967.bpt {
font-size: 3.8em;
	}
	.p-Blog.Flex976.bpt {
width: 90%;
	}
	.p-Blog.Menu16.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-Blog.Flex974.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-Blog.Flex972.bpt {
width: 90%;
padding-left: ;
	}
	.p-Blog.TextBox400.bpt {
font-size: 2em;
	}
	.p-Blog.TextBox401.bpt {
font-size: 3.7em;
	}
	.p-Blog.Image159.bpt {
width: 100%;
height: 250px;
	}
	.p-Blog.Image164.bpt {
height: 250px;
width: 100%;
	}
	.p-Blog.TextBox415.bpt {
font-size: 3.7em;
	}
	.p-Blog.TextBox949.bpt {
font-size: 2em;
	}
	.p-Blog.TextBox432.bpt {
font-size: 3.7em;
	}
	.p-Blog.TextBox950.bpt {
font-size: 2em;
	}
	.p-Blog.Image173.bpt {
height: 250px;
width: 100%;
	}
	.p-Blog.TextBox435.bpt {
font-size: 3.7em;
	}
	.p-Blog.TextBox951.bpt {
font-size: 2em;
	}
	.p-Blog.Image175.bpt {
height: 250px;
width: 100%;
	}
	.p-Blog.TextBox438.bpt {
font-size: 3.7em;
	}
	.p-Blog.TextBox952.bpt {
font-size: 2em;
	}
	.p-Blog.Image177.bpt {
height: 250px;
width: 100%;
	}
	.p-Blog.TextBox881.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox882.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox883.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox884.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox885.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox886.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox887.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox888.bpt {
cursor: pointer;
	}
	.p-Blog.TextBox889.bpt {
cursor: pointer;
	}
}