.p-datadash-product-design.Flex1729 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-datadash-product-design.Flex1728 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
}
.p-datadash-product-design.Flex1726 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-datadash-product-design.Flex1723 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-datadash-product-design.Flex1719 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-datadash-product-design.Flex1720 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-datadash-product-design.Flex1721 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-datadash-product-design.Flex1724 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-datadash-product-design.Flex1722 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-datadash-product-design.Flex1727 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-datadash-product-design.Flex1750 {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
align-items: center;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-datadash-product-design.Flex1747 {
display: flex;
}
.p-datadash-product-design.Flex1744 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10.5px;
}
.p-datadash-product-design.Flex1741 {
display: flex;
width: ;
max-width: 800px;
padding-top: 140px;
padding-bottom: 140px;
margin-top: ;
flex-direction: column;
padding-left: ;
padding-right: ;
align-items: center;
row-gap: 80px;
}
.p-datadash-product-design.Flex1739 {
display: flex;
font-family: IBM Plex Sans;
font-size: 1em;
cursor: pointer;
align-items: center;
row-gap: ;
column-gap: 18px;
color: ;
}
.p-datadash-product-design.Flex1740 {
display: flex;
width: ;
flex-direction: column;
row-gap: 32px;
font-size: 10px;
}
.p-datadash-product-design.Flex1736 {
display: flex;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-left-width: 5px;
border-left-style: solid;
border-left-color: #736b6b66;
}
.p-datadash-product-design.Flex1737 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
}
.p-datadash-product-design.Flex1730 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1731 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1732 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1738 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
align-items: flex-start;
}
.p-datadash-product-design.Flex1733 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1734 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1735 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-datadash-product-design.Flex1748 {
display: flex;
width: 100%;
height: 600px;
}
.p-datadash-product-design.Flex1749 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: ;
padding-bottom: ;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 700;
align-items: stretch;
margin-top: 80px;
margin-bottom: 80px;
}
.p-datadash-product-design.Flex1745 {
display: flex;
flex-direction: row;
width: 38%;
justify-content: space-between;
align-items: flex-start;
}
.p-datadash-product-design.Flex1742 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-datadash-product-design.Flex1743 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-datadash-product-design.Flex1746 {
display: flex;
flex-direction: column;
row-gap: 12px;
width: 58%;
align-items: flex-start;
}
.p-datadash-product-design.Flex1758 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-datadash-product-design.Flex1757 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-datadash-product-design.Flex1756 {
display: flex;
flex-direction: row;
column-gap: 26.5px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.7px;
font-weight: 500;
}
.p-datadash-product-design.Flex1754 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.Menu28 {
display: none;
}
.p-datadash-product-design.Flex1755 {
display: flex;
}
.p-datadash-product-design.Flex1753 {
display: flex;
}
.p-datadash-product-design.Flex1752 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-datadash-product-design.Flex1751 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1921 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1922 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1923 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1924 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1925 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1926 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1927 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1928 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1929 {
cursor: pointer;
}
.p-datadash-product-design.TextBox1931 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-datadash-product-design.Image493 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1930 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-datadash-product-design.Image492 {
width: 30px;
}
.p-datadash-product-design.TextBox1938 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-datadash-product-design.TextBox1939 {
font-size: ;
}
.p-datadash-product-design.Image494 {
margin-bottom: 0px;
width: 3.4em;
height: 3.4em;
}
.p-datadash-product-design.TextBox1953 {
font-size: 4.2em;
font-family: IBM Plex Sans;
font-weight: 700;
color: transparent;
background-color: #dd1a1a;
background-clip: text;
-webkit-background-clip: text;
}
.p-datadash-product-design.TextBox1954 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-datadash-product-design.TextBox1955 {
font-size: 3.6em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-datadash-product-design.TextBox1956 {
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-datadash-product-design.TextBox1957 {
font-size: 2.6em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-datadash-product-design.TextBox1958 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-datadash-product-design.TextBox1959 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-datadash-product-design.TextBox1960 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-datadash-product-design.TextBox1961 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666ff;
}
.p-datadash-product-design.TextBox1962 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-datadash-product-design.TextBox1963 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-datadash-product-design.TextBox1952 {
font-family: IBM Plex Sans;
font-weight: italic;
font-size: 2em;
text-align: left;
}
.p-datadash-product-design.TextBox1940 {
;
}
.p-datadash-product-design.TextBox1941 {
;
}
.p-datadash-product-design.TextBox1942 {
;
}
.p-datadash-product-design.TextBox1943 {
;
}
.p-datadash-product-design.TextBox1944 {
;
}
.p-datadash-product-design.TextBox1945 {
;
}
.p-datadash-product-design.TextBox1946 {
;
}
.p-datadash-product-design.TextBox1947 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-datadash-product-design.TextBox1948 {
;
}
.p-datadash-product-design.TextBox1949 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-datadash-product-design.TextBox1950 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-datadash-product-design.TextBox1951 {
;
}
.p-datadash-product-design.Image495 {
width: 100%;
}
.p-datadash-product-design.TextBox1964 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-datadash-product-design.TextBox1965 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-datadash-product-design.TextBox1966 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-datadash-product-design.TextBox1967 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-datadash-product-design.TextBox1968 {
font-size: 1.4em;
color: transparent;
background-color: #cbc734;
background-clip: text;
-webkit-background-clip: text;
}
.p-datadash-product-design.TextBox1969 {
font-size: 5.4em;
line-height: 1.1em;
}
.p-datadash-product-design.Image498 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-datadash-product-design.TextBox1976 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1977 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1978 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1979 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1975 {
;
}
.p-datadash-product-design.Image497 {
;
}
.p-datadash-product-design.TextBox1971 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1972 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1973 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.TextBox1974 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-datadash-product-design.Image496 {
;
}
.p-datadash-product-design.TextBox1970 {
;
}
@media screen and (max-width: 991px) {
	.p-datadash-product-design.Flex1742.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-datadash-product-design.Flex1743.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-datadash-product-design.Flex1746.bpt {
width: 100%;
	}
	.p-datadash-product-design.Flex1758.bpt {
width: px;
position: static;
	}
	.p-datadash-product-design.Flex1754.bpt {
column-gap: 6px;
	}
	.p-datadash-product-design.Flex1751.bpt {
column-gap: 6px;
	}
	.p-datadash-product-design.TextBox1958.bpt {
font-weight: 500;
	}
	.p-datadash-product-design.TextBox1959.bpt {
font-weight: 500;
	}
	.p-datadash-product-design.Flex1726.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-datadash-product-design.Flex1741.bpt {
width: 82%;
	}
	.p-datadash-product-design.Flex1740.bpt {
width: 100%;
font-size: 10px;
	}
	.p-datadash-product-design.Flex1748.bpt {
height: 400px;
	}
	.p-datadash-product-design.Flex1749.bpt {
flex-direction: column;
row-gap: 44px;
	}
	.p-datadash-product-design.Flex1745.bpt {
width: 100%;
	}
	.p-datadash-product-design.Flex1757.bpt {
padding-top: 40px;
	}
	.p-datadash-product-design.Flex1756.bpt {
column-gap: 28px;
display: none;
	}
	.p-datadash-product-design.Flex1753.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-datadash-product-design.Flex1752.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-datadash-product-design.Image494.bpt {
width: 3.2em;
height: 3.2em;
	}
	.p-datadash-product-design.Flex1729.bpt {
font-size: 10.5px;
	}
	.p-datadash-product-design.Flex1728.bpt {
row-gap: 70px;
	}
	.p-datadash-product-design.Flex1723.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-datadash-product-design.Flex1727.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-datadash-product-design.Menu28.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-datadash-product-design.Flex1755.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-datadash-product-design.TextBox1953.bpt {
font-size: 4em;
	}
	.p-datadash-product-design.TextBox1969.bpt {
font-size: 5em;
	}
}
@media screen and (max-width: 767px) {
	.p-datadash-product-design.Flex1726.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-datadash-product-design.Flex1724.bpt {
font-size: 1.2em;
	}
	.p-datadash-product-design.Flex1744.bpt {
font-size: 9.5px;
	}
	.p-datadash-product-design.Flex1740.bpt {
font-size: 8px;
	}
	.p-datadash-product-design.Flex1756.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-datadash-product-design.Flex1752.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-datadash-product-design.Image494.bpt {
width: 3em;
height: 3em;
	}
	.p-datadash-product-design.TextBox1954.bpt {
font-size: 2em;
	}
	.p-datadash-product-design.TextBox1956.bpt {
font-size: 2.6em;
	}
	.p-datadash-product-design.TextBox1960.bpt {
font-size: 2em;
	}
	.p-datadash-product-design.TextBox1961.bpt {
font-size: 2em;
	}
	.p-datadash-product-design.TextBox1962.bpt {
font-size: 2em;
	}
	.p-datadash-product-design.TextBox1963.bpt {
font-size: 2em;
	}
	.p-datadash-product-design.Flex1729.bpt {
font-size: 10px;
	}
	.p-datadash-product-design.Flex1728.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-datadash-product-design.Flex1723.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-datadash-product-design.Flex1727.bpt {
font-size: 4.2em;
	}
	.p-datadash-product-design.Menu28.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-datadash-product-design.Flex1755.bpt {
right: 0;
width: 90vw;
	}
	.p-datadash-product-design.TextBox1953.bpt {
font-size: 3.8em;
	}
	.p-datadash-product-design.TextBox1955.bpt {
font-size: 3.4em;
	}
	.p-datadash-product-design.TextBox1965.bpt {
font-size: 2.1em;
	}
	.p-datadash-product-design.TextBox1966.bpt {
font-size: 2.1em;
	}
	.p-datadash-product-design.TextBox1969.bpt {
font-size: 4em;
	}
}
@media screen and (max-width: 478px) {
	.p-datadash-product-design.Flex1729.bpt {
font-size: 9.5px;
	}
	.p-datadash-product-design.Flex1728.bpt {
width: 90%;
	}
	.p-datadash-product-design.Flex1723.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-datadash-product-design.Flex1722.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.Flex1727.bpt {
font-size: 3.8em;
	}
	.p-datadash-product-design.Flex1741.bpt {
width: 90%;
	}
	.p-datadash-product-design.Flex1748.bpt {
height: 300px;
	}
	.p-datadash-product-design.Flex1749.bpt {
margin-bottom: 40px;
width: 90%;
	}
	.p-datadash-product-design.Flex1745.bpt {
flex-direction: column;
row-gap: 32px;
	}
	.p-datadash-product-design.Flex1757.bpt {
width: 90%;
	}
	.p-datadash-product-design.Menu28.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-datadash-product-design.Flex1755.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-datadash-product-design.Flex1753.bpt {
width: 90%;
padding-left: ;
	}
	.p-datadash-product-design.TextBox1921.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1922.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1923.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1924.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1925.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1926.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1927.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1928.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1929.bpt {
cursor: pointer;
	}
	.p-datadash-product-design.TextBox1953.bpt {
font-size: 3.4em;
color: transparent;
background-color: #d41f1f;
background-clip: text;
-webkit-background-clip: text;
	}
	.p-datadash-product-design.TextBox1955.bpt {
font-size: 3.2em;
	}
	.p-datadash-product-design.TextBox1964.bpt {
font-size: 1.6em;
	}
	.p-datadash-product-design.TextBox1965.bpt {
font-size: 1.8em;
	}
	.p-datadash-product-design.TextBox1966.bpt {
font-size: 1.8em;
	}
	.p-datadash-product-design.TextBox1967.bpt {
font-size: 1.6em;
	}
	.p-datadash-product-design.TextBox1969.bpt {
font-size: 3.6em;
	}
}