.p-gorillaX-branding.Flex1769 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-gorillaX-branding.Flex1768 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 90px;
padding-left: ;
margin-top: ;
}
.p-gorillaX-branding.Flex1766 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-gorillaX-branding.Flex1763 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-gorillaX-branding.Flex1759 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1760 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1761 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1764 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1762 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-gorillaX-branding.Flex1767 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1790 {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
align-items: center;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-gorillaX-branding.Flex1787 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: ;
padding-bottom: ;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 700;
align-items: stretch;
margin-top: 80px;
margin-bottom: 80px;
}
.p-gorillaX-branding.Flex1784 {
display: flex;
flex-direction: column;
row-gap: 12px;
width: 58%;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1785 {
display: flex;
flex-direction: row;
width: 38%;
justify-content: space-between;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1781 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1782 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1788 {
display: flex;
width: 100%;
height: 600px;
}
.p-gorillaX-branding.Flex1789 {
display: flex;
}
.p-gorillaX-branding.Flex1786 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10.5px;
}
.p-gorillaX-branding.Flex1783 {
display: flex;
width: ;
max-width: 800px;
padding-top: 140px;
padding-bottom: 140px;
margin-top: ;
flex-direction: column;
padding-left: ;
padding-right: ;
align-items: center;
row-gap: 80px;
}
.p-gorillaX-branding.Flex1779 {
display: flex;
width: ;
flex-direction: column;
row-gap: 32px;
font-size: 10px;
}
.p-gorillaX-branding.Flex1776 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
align-items: flex-start;
}
.p-gorillaX-branding.Flex1770 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1771 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1772 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1777 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
}
.p-gorillaX-branding.Flex1773 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1774 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1775 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-gorillaX-branding.Flex1778 {
display: flex;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-left-width: 5px;
border-left-style: solid;
border-left-color: #736b6b66;
}
.p-gorillaX-branding.Flex1780 {
display: flex;
font-family: IBM Plex Sans;
font-size: 1em;
cursor: pointer;
align-items: center;
row-gap: ;
column-gap: 18px;
}
.p-gorillaX-branding.Flex1798 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-gorillaX-branding.Flex1797 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-gorillaX-branding.Flex1796 {
display: flex;
flex-direction: row;
column-gap: 26.5px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.7px;
font-weight: 500;
}
.p-gorillaX-branding.Flex1794 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.Menu29 {
display: none;
}
.p-gorillaX-branding.Flex1795 {
display: flex;
}
.p-gorillaX-branding.Flex1793 {
display: flex;
}
.p-gorillaX-branding.Flex1792 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-gorillaX-branding.Flex1791 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox1980 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1981 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1982 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1983 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1984 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1985 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1986 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1987 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1988 {
cursor: pointer;
}
.p-gorillaX-branding.TextBox1990 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-gorillaX-branding.Image500 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox1989 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-gorillaX-branding.Image499 {
width: 30px;
}
.p-gorillaX-branding.TextBox1997 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-gorillaX-branding.TextBox1998 {
font-size: ;
}
.p-gorillaX-branding.TextBox2027 {
font-size: 5.4em;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2028 {
font-size: 1.4em;
color: transparent;
background-color: #cbc734;
background-clip: text;
-webkit-background-clip: text;
}
.p-gorillaX-branding.TextBox2023 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-gorillaX-branding.TextBox2024 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-gorillaX-branding.TextBox2025 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-gorillaX-branding.TextBox2026 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-gorillaX-branding.Image502 {
width: 100%;
}
.p-gorillaX-branding.TextBox2012 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-gorillaX-branding.TextBox2013 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-gorillaX-branding.TextBox2014 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666ff;
}
.p-gorillaX-branding.TextBox2015 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-gorillaX-branding.TextBox2016 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2017 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2018 {
font-size: 2.6em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2019 {
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2020 {
font-size: 3.6em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-gorillaX-branding.TextBox2021 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-gorillaX-branding.TextBox1999 {
;
}
.p-gorillaX-branding.TextBox2000 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-gorillaX-branding.TextBox2001 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-gorillaX-branding.TextBox2002 {
;
}
.p-gorillaX-branding.TextBox2003 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-gorillaX-branding.TextBox2004 {
;
}
.p-gorillaX-branding.TextBox2005 {
;
}
.p-gorillaX-branding.TextBox2006 {
;
}
.p-gorillaX-branding.TextBox2007 {
;
}
.p-gorillaX-branding.TextBox2008 {
;
}
.p-gorillaX-branding.TextBox2009 {
;
}
.p-gorillaX-branding.TextBox2010 {
;
}
.p-gorillaX-branding.TextBox2011 {
font-family: IBM Plex Sans;
font-weight: italic;
font-size: 2em;
text-align: left;
}
.p-gorillaX-branding.TextBox2022 {
font-size: 4.2em;
font-family: IBM Plex Sans;
font-weight: 700;
color: transparent;
background-color: #dd1a1a;
background-clip: text;
-webkit-background-clip: text;
}
.p-gorillaX-branding.Image501 {
margin-bottom: 0px;
width: 3.4em;
height: 3.4em;
}
.p-gorillaX-branding.Image505 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2035 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2036 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2037 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2038 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2034 {
;
}
.p-gorillaX-branding.Image504 {
;
}
.p-gorillaX-branding.TextBox2030 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2031 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2032 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.TextBox2033 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-gorillaX-branding.Image503 {
;
}
.p-gorillaX-branding.TextBox2029 {
;
}
@media screen and (max-width: 991px) {
	.p-gorillaX-branding.Flex1784.bpt {
width: 100%;
	}
	.p-gorillaX-branding.Flex1781.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-gorillaX-branding.Flex1782.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-gorillaX-branding.Flex1798.bpt {
width: px;
position: static;
	}
	.p-gorillaX-branding.Flex1794.bpt {
column-gap: 6px;
	}
	.p-gorillaX-branding.Flex1791.bpt {
column-gap: 6px;
	}
	.p-gorillaX-branding.TextBox2016.bpt {
font-weight: 500;
	}
	.p-gorillaX-branding.TextBox2017.bpt {
font-weight: 500;
	}
	.p-gorillaX-branding.Flex1766.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-gorillaX-branding.Flex1787.bpt {
flex-direction: column;
row-gap: 44px;
	}
	.p-gorillaX-branding.Flex1785.bpt {
width: 100%;
	}
	.p-gorillaX-branding.Flex1788.bpt {
height: 400px;
	}
	.p-gorillaX-branding.Flex1783.bpt {
width: 82%;
	}
	.p-gorillaX-branding.Flex1779.bpt {
width: 100%;
font-size: 10px;
	}
	.p-gorillaX-branding.Flex1797.bpt {
padding-top: 40px;
	}
	.p-gorillaX-branding.Flex1796.bpt {
column-gap: 28px;
display: none;
	}
	.p-gorillaX-branding.Flex1793.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-gorillaX-branding.Flex1792.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-gorillaX-branding.Image501.bpt {
width: 3.2em;
height: 3.2em;
	}
	.p-gorillaX-branding.Flex1769.bpt {
font-size: 10.5px;
	}
	.p-gorillaX-branding.Flex1768.bpt {
row-gap: 70px;
	}
	.p-gorillaX-branding.Flex1763.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-gorillaX-branding.Flex1767.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-gorillaX-branding.Menu29.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-gorillaX-branding.Flex1795.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-gorillaX-branding.TextBox2027.bpt {
font-size: 5em;
	}
	.p-gorillaX-branding.TextBox2022.bpt {
font-size: 4em;
	}
}
@media screen and (max-width: 767px) {
	.p-gorillaX-branding.Flex1766.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-gorillaX-branding.Flex1764.bpt {
font-size: 1.2em;
	}
	.p-gorillaX-branding.Flex1786.bpt {
font-size: 9.5px;
	}
	.p-gorillaX-branding.Flex1779.bpt {
font-size: 8px;
	}
	.p-gorillaX-branding.Flex1796.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-gorillaX-branding.Flex1792.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-gorillaX-branding.TextBox2012.bpt {
font-size: 2em;
	}
	.p-gorillaX-branding.TextBox2013.bpt {
font-size: 2em;
	}
	.p-gorillaX-branding.TextBox2014.bpt {
font-size: 2em;
	}
	.p-gorillaX-branding.TextBox2015.bpt {
font-size: 2em;
	}
	.p-gorillaX-branding.TextBox2019.bpt {
font-size: 2.6em;
	}
	.p-gorillaX-branding.TextBox2021.bpt {
font-size: 2em;
	}
	.p-gorillaX-branding.Image501.bpt {
width: 3em;
height: 3em;
	}
	.p-gorillaX-branding.Flex1769.bpt {
font-size: 10px;
	}
	.p-gorillaX-branding.Flex1768.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-gorillaX-branding.Flex1763.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-gorillaX-branding.Flex1767.bpt {
font-size: 4.2em;
	}
	.p-gorillaX-branding.Menu29.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-gorillaX-branding.Flex1795.bpt {
right: 0;
width: 90vw;
	}
	.p-gorillaX-branding.TextBox2027.bpt {
font-size: 4em;
	}
	.p-gorillaX-branding.TextBox2024.bpt {
font-size: 2.1em;
	}
	.p-gorillaX-branding.TextBox2025.bpt {
font-size: 2.1em;
	}
	.p-gorillaX-branding.TextBox2020.bpt {
font-size: 3.4em;
	}
	.p-gorillaX-branding.TextBox2022.bpt {
font-size: 3.8em;
	}
}
@media screen and (max-width: 478px) {
	.p-gorillaX-branding.Flex1769.bpt {
font-size: 9.5px;
	}
	.p-gorillaX-branding.Flex1768.bpt {
width: 90%;
	}
	.p-gorillaX-branding.Flex1763.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-gorillaX-branding.Flex1762.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.Flex1767.bpt {
font-size: 3.8em;
	}
	.p-gorillaX-branding.Flex1787.bpt {
margin-bottom: 40px;
width: 90%;
	}
	.p-gorillaX-branding.Flex1785.bpt {
flex-direction: column;
row-gap: 32px;
	}
	.p-gorillaX-branding.Flex1788.bpt {
height: 300px;
	}
	.p-gorillaX-branding.Flex1783.bpt {
width: 90%;
	}
	.p-gorillaX-branding.Flex1797.bpt {
width: 90%;
	}
	.p-gorillaX-branding.Menu29.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-gorillaX-branding.Flex1795.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-gorillaX-branding.Flex1793.bpt {
width: 90%;
padding-left: ;
	}
	.p-gorillaX-branding.TextBox1980.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1981.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1982.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1983.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1984.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1985.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1986.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1987.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox1988.bpt {
cursor: pointer;
	}
	.p-gorillaX-branding.TextBox2027.bpt {
font-size: 3.6em;
	}
	.p-gorillaX-branding.TextBox2023.bpt {
font-size: 1.6em;
	}
	.p-gorillaX-branding.TextBox2024.bpt {
font-size: 1.8em;
	}
	.p-gorillaX-branding.TextBox2025.bpt {
font-size: 1.8em;
	}
	.p-gorillaX-branding.TextBox2026.bpt {
font-size: 1.6em;
	}
	.p-gorillaX-branding.TextBox2020.bpt {
font-size: 3.2em;
	}
	.p-gorillaX-branding.TextBox2022.bpt {
font-size: 3.4em;
color: transparent;
background-color: #d41f1f;
background-clip: text;
-webkit-background-clip: text;
	}
}