.p-Home.footer {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-Home.Flex7 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 30px;
padding-left: ;
margin-top: ;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-Home.Flex10 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-Home.Flex11 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-Home.Flex13 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-Home.Flex12 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Home.Flex15 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Home.Flex16 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-Home.Flex17 {
display: flex;
margin-top: 50px;
column-gap: 3px;
row-gap: ;
font-size: 1.4em;
color: #8A95AD;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.main {
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: center;
font-family: IBM Plex Sans;
font-size: 10px;
background-attachment: fixed;
}
.p-Home.Flex5 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
font-family: ;
font-size: ;
align-items: center;
}
.p-Home.Flex148 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: column;
padding-top: 95px;
padding-bottom: 44px;
align-items: center;
row-gap: ;
}
.p-Home.Flex149 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-bottom: 90px;
column-gap: ;
row-gap: 22px;
}
.p-Home.Flex150 {
display: flex;
column-gap: ;
font-family: ;
font-size: ;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex199 {
display: flex;
flex-direction: column;
row-gap: 24px;
min-width: 250px;
max-width: ;
width: 30%;
}
.p-Home.Flex204 {
display: flex;
flex-direction: column;
row-gap: ;
font-size: 2em;
padding-left: 20px;
}
.p-Home.Flex316 {
display: flex;
flex-direction: column;
row-gap: 24px;
min-width: 250px;
max-width: ;
width: 32%;
}
.p-Home.Flex315 {
display: flex;
flex-direction: column;
row-gap: ;
font-size: 2em;
padding-left: 20px;
}
.p-Home.Flex321 {
display: flex;
flex-direction: column;
row-gap: 24px;
min-width: 250px;
max-width: ;
width: 30%;
}
.p-Home.Flex320 {
display: flex;
flex-direction: column;
row-gap: ;
font-size: 2em;
padding-left: 20px;
padding-bottom: ;
}
.p-Home.Flex1 {
display: flex;
width: 100%;
justify-content: center;
font-family: ;
font-size: ;
}
.p-Home.Flex2 {
display: flex;
width: 82%;
max-width: 1215px;
justify-content: space-between;
padding-top: 79px;
padding-bottom: 20px;
font-size: ;
row-gap: ;
align-items: center;
}
.p-Home.Flex132 {
display: flex;
flex-direction: column;
row-gap: 4em;
justify-content: center;
width: 50%;
}
.p-Home.Flex133 {
display: flex;
flex-direction: column;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 6.5em;
line-height: ;
}
.p-Home.Flex135 {
display: flex;
column-gap: 55px;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 500;
align-items: center;
}
.p-Home.Flex136 {
display: flex;
column-gap: 10px;
cursor: pointer;
}
.p-Home.Flex827 {
display: flex;
position: relative;
padding-right: ;
padding-bottom: ;
cursor: pointer;
background-attachment: local;
flex-direction: column;
padding-top: 8px;
padding-left: 8px;
z-index: 2;
margin-top: ;
margin-left: ;
}
.p-Home.Flex3 {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
font-size: ;
font-family: ;
}
.p-Home.Flex4 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
row-gap: 3em;
}
.p-Home.Flex145 {
display: flex;
align-items: center;
column-gap: 5em;
}
.p-Home.Flex178 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10px;
overflow: hidden;
padding-bottom: ;
margin-bottom: -210px;
}
.p-Home.Flex177 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: column;
padding-top: 70px;
padding-bottom: ;
}
.p-Home.Flex176 {
display: flex;
justify-content: space-between;
padding-top: 40px;
align-items: center;
}
.p-Home.Flex226 {
display: flex;
flex-direction: column;
row-gap: 20px;
max-width: 60%;
align-items: flex-start;
width: ;
}
.p-Home.Flex1562 {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex866 {
display: flex;
position: relative;
padding-right: ;
padding-bottom: ;
cursor: pointer;
background-attachment: local;
flex-direction: column;
padding-top: 8px;
padding-left: 8px;
z-index: 2;
}
.p-Home.Flex335 {
display: flex;
position: relative;
padding-top: 75px;
padding-bottom: ;
height: 600px;
flex-direction: column;
justify-content: flex-end;
background-color: transparent;
overflow: visible;
margin-top: ;
width: 100%;
margin-bottom: ;
}
.p-Home.Flex343 {
display: flex;
padding-bottom: ;
flex-direction: column;
row-gap: 40px;
background-color: transparent;
overflow: visible;
align-items: flex-start;
width: px;
}
.p-Home.Flex175 {
display: flex;
padding-top: ;
padding-bottom: ;
column-gap: 20px;
overflow: visible;
flex-direction: row;
flex-wrap: nowrap;
z-index: 10;
position: static;
top: 0;
margin-left: ;
padding-right: ;
margin-right: ;
width: 90vw;
align-items: stretch;
}
.p-Home.Flex328 {
display: flex;
flex-direction: column;
row-gap: ;
width: 40%;
background-color: #fffbfb;
justify-content: flex-start;
cursor: pointer;
}
.p-Home.Flex327 {
display: flex;
flex-direction: column;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-top: 32px;
row-gap: 13px;
}
.p-Home.Flex326 {
display: flex;
column-gap: 10px;
font-size: 1.7em;
font-family: IBM Plex Sans;
font-weight: 500;
align-items: center;
}
.p-Home.Flex1546 {
display: flex;
flex-direction: column;
row-gap: ;
width: 40%;
background-color: #fffbfb;
justify-content: flex-start;
cursor: pointer;
}
.p-Home.Flex1545 {
display: flex;
flex-direction: column;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-top: 32px;
row-gap: 13px;
}
.p-Home.Flex1544 {
display: flex;
column-gap: 10px;
font-size: 1.7em;
font-family: IBM Plex Sans;
font-weight: 500;
align-items: center;
}
.p-Home.Flex1549 {
display: flex;
flex-direction: column;
row-gap: ;
width: 40%;
background-color: #fffbfb;
justify-content: flex-start;
cursor: pointer;
}
.p-Home.Flex1548 {
display: flex;
flex-direction: column;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-top: 32px;
row-gap: 13px;
}
.p-Home.Flex1547 {
display: flex;
column-gap: 10px;
font-size: 1.7em;
font-family: IBM Plex Sans;
font-weight: 500;
align-items: center;
}
.p-Home.Flex1558 {
display: flex;
flex-direction: column;
row-gap: ;
width: 40%;
background-color: #fffbfb;
justify-content: flex-start;
cursor: pointer;
}
.p-Home.Flex1557 {
display: flex;
flex-direction: column;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-top: 32px;
row-gap: 13px;
}
.p-Home.Flex1556 {
display: flex;
column-gap: 10px;
font-size: 1.7em;
font-family: IBM Plex Sans;
font-weight: 500;
align-items: center;
}
.p-Home.Flex1561 {
display: flex;
flex-direction: column;
row-gap: ;
width: 40%;
background-color: #fffbfb;
justify-content: flex-start;
cursor: pointer;
}
.p-Home.Flex1560 {
display: flex;
flex-direction: column;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-top: 32px;
row-gap: 13px;
}
.p-Home.Flex1559 {
display: flex;
column-gap: 10px;
font-size: 1.7em;
font-family: IBM Plex Sans;
font-weight: 500;
align-items: center;
}
.p-Home.Flex1531 {
display: flex;
z-index: 10;
width: 100%;
justify-content: flex-end;
}
.p-Home.Flex342 {
display: flex;
background-color: #000000;
align-items: center;
padding-left: ;
padding-top: ;
padding-bottom: ;
height: 50px;
width: 130px;
row-gap: ;
column-gap: 10px;
padding-right: ;
z-index: 10;
}
.p-Home.Flex340 {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
padding-right: ;
padding-left: ;
background-color: #ffffff;
cursor: pointer;
}
.p-Home.Flex341 {
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
padding-left: ;
padding-right: ;
background-color: #ffffff;
cursor: pointer;
}
.p-Home.Flex182 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
position: static;
background-color: #070707;
color: #fbfbfb;
font-size: ;
font-family: ;
}
.p-Home.Flex181 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: row;
padding-top: 250px;
padding-bottom: 75px;
justify-content: space-between;
align-items: flex-start;
position: relative;
row-gap: ;
column-gap: ;
}
.p-Home.Flex179 {
display: flex;
width: 58%;
flex-direction: column;
row-gap: 3.5em;
padding-top: 30px;
}
.p-Home.Flex238 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-Home.Flex239 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex345 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-Home.Flex395 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-Home.Flex393 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-Home.Flex394 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex398 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-Home.Flex396 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-Home.Flex397 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex401 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-Home.Flex399 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-Home.Flex400 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex404 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-Home.Flex402 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-Home.Flex403 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex180 {
display: flex;
flex-direction: column;
row-gap: 12px;
padding-bottom: 60px;
justify-content: flex-start;
align-items: flex-start;
position: sticky;
top: 0;
padding-top: 30px;
}
.p-Home.Flex237 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Home.Flex186 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
font-family: ;
font-size: ;
}
.p-Home.Flex185 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: column;
padding-top: ;
padding-bottom: ;
}
.p-Home.Flex183 {
display: flex;
row-gap: ;
column-gap: ;
padding-bottom: 80px;
height: px;
justify-content: space-between;
}
.p-Home.Flex657 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex266 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 12px;
width: 30%;
justify-content: space-between;
}
.p-Home.Flex184 {
display: flex;
align-items: flex-start;
justify-content: space-between;
padding-top: 120px;
padding-bottom: 68px;
}
.p-Home.Flex253 {
display: flex;
flex-direction: column;
row-gap: 3px;
}
.p-Home.Flex190 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
font-family: ;
font-size: ;
}
.p-Home.Flex189 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: row;
padding-top: 60px;
padding-bottom: 60px;
justify-content: space-between;
column-gap: ;
}
.p-Home.Flex297 {
display: flex;
width: 48%;
flex-direction: column;
row-gap: 6.5em;
}
.p-Home.Flex295 {
display: flex;
flex-direction: column;
row-gap: ;
justify-content: space-between;
height: 100%;
}
.p-Home.Flex705 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex703 {
display: none;
}
.p-Home.Flex704 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex291 {
display: flex;
flex-direction: row;
row-gap: ;
justify-content: space-between;
align-items: center;
column-gap: 16px;
padding-bottom: ;
}
.p-Home.Flex381 {
display: flex;
flex-direction: column;
row-gap: 4px;
}
.p-Home.Flex701 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex699 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex700 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex713 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex711 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex709 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex706 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex707 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex710 {
display: flex;
flex-direction: row;
row-gap: ;
justify-content: space-between;
align-items: center;
column-gap: 16px;
}
.p-Home.Flex708 {
display: flex;
flex-direction: column;
row-gap: 4px;
}
.p-Home.Flex712 {
display: none;
}
.p-Home.Flex721 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex719 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex717 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex714 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex715 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex718 {
display: flex;
flex-direction: row;
row-gap: ;
justify-content: space-between;
align-items: center;
column-gap: 16px;
}
.p-Home.Flex716 {
display: flex;
flex-direction: column;
row-gap: 4px;
}
.p-Home.Flex720 {
display: none;
}
.p-Home.Flex296 {
display: flex;
column-gap: 16px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 3.8em;
font-weight: 700;
}
.p-Home.Flex380 {
display: flex;
width: 48%;
flex-direction: column;
row-gap: 6.5em;
}
.p-Home.Flex378 {
display: flex;
column-gap: 16px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 3.8em;
font-weight: 700;
}
.p-Home.Flex379 {
display: flex;
flex-direction: column;
row-gap: 4em;
}
.p-Home.Flex377 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex673 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex373 {
display: flex;
flex-direction: column;
row-gap: 6px;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex374 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex368 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex671 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex674 {
display: none;
}
.p-Home.Flex684 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex682 {
display: none;
}
.p-Home.Flex683 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex680 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex678 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex679 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex681 {
display: flex;
flex-direction: column;
row-gap: 6px;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex691 {
display: flex;
justify-content: flex-start;
padding-bottom: 40px;
border-bottom-width: 1px;
border-bottom-style: solid;
column-gap: 1em;
width: ;
flex-direction: column;
}
.p-Home.Flex689 {
display: none;
}
.p-Home.Flex690 {
display: flex;
padding-top: ;
justify-content: space-between;
width: 100%;
row-gap: ;
column-gap: 12px;
}
.p-Home.Flex687 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: ;
width: 28%;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex685 {
display: flex;
justify-content: flex-start;
float: none;
}
.p-Home.Flex686 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex688 {
display: flex;
flex-direction: column;
row-gap: 6px;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex194 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
font-family: ;
font-size: ;
}
.p-Home.Flex193 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: column;
padding-top: ;
padding-bottom: ;
}
.p-Home.Flex191 {
display: flex;
justify-content: space-between;
padding-top: 70px;
padding-bottom: 156px;
align-items: flex-end;
column-gap: 11.3em;
}
.p-Home.Flex298 {
display: flex;
width: 49%;
flex-direction: column;
row-gap: 9.5em;
justify-content: flex-end;
height: ;
}
.p-Home.Flex300 {
display: flex;
flex-direction: row;
max-width: px;
justify-content: space-between;
padding-left: -27px;
}
.p-Home.Flex301 {
display: flex;
flex-direction: column;
}
.p-Home.Flex307 {
display: flex;
background-color: #000000;
align-items: center;
padding-left: ;
padding-top: ;
padding-bottom: ;
height: 5em;
width: 10em;
row-gap: ;
column-gap: ;
padding-right: ;
}
.p-Home.Flex308 {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
padding-right: ;
padding-left: ;
}
.p-Home.Flex309 {
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
padding-left: ;
padding-right: ;
}
.p-Home.Flex392 {
display: flex;
flex-direction: column;
row-gap: 3.5em;
}
.p-Home.Flex299 {
display: flex;
}
.p-Home.Flex405 {
display: flex;
width: 38%;
position: relative;
}
.p-Home.Flex192 {
display: flex;
flex-direction: column;
row-gap: 5px;
padding-top: 80px;
align-items: flex-start;
}
.p-Home.Flex198 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
background-color: #020202;
color: #f7f3f3;
column-gap: 10px;
font-size: ;
}
.p-Home.Flex197 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: column;
padding-top: ;
padding-bottom: 40px;
row-gap: 8.4em;
}
.p-Home.Flex195 {
display: flex;
justify-content: space-between;
column-gap: 15px;
padding-top: ;
}
.p-Home.Flex305 {
display: flex;
width: 50%;
}
.p-Home.Flex306 {
display: flex;
width: 50%;
font-family: ;
font-size: ;
}
.p-Home.Flex196 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
row-gap: 6px;
padding-top: 80px;
font-size: ;
}
.p-Home.header {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.Flex128 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-Home.Menu3 {
display: none;
}
.p-Home.Flex651 {
display: flex;
}
.p-Home.Flex654 {
display: flex;
}
.p-Home.Flex656 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-Home.Flex655 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.Flex634 {
display: flex;
flex-direction: row;
column-gap: 26.5px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.7px;
font-weight: 500;
}
.p-Home.Flex633 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox3 {
font-size: ;
}
.p-Home.TextBox4 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-Home.Image3 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-Home.TextBox5 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Image4 {
width: 30px;
}
.p-Home.TextBox6 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox541 {
cursor: pointer;
}
.p-Home.TextBox542 {
cursor: pointer;
}
.p-Home.TextBox543 {
cursor: pointer;
}
.p-Home.TextBox544 {
cursor: pointer;
}
.p-Home.TextBox545 {
cursor: pointer;
}
.p-Home.TextBox546 {
cursor: pointer;
}
.p-Home.TextBox538 {
cursor: pointer;
}
.p-Home.TextBox539 {
cursor: pointer;
}
.p-Home.TextBox540 {
cursor: pointer;
}
.p-Home.TextBox7 {
;
}
.p-Home.Link15 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox8 {
;
}
.p-Home.Link16 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox9 {
;
}
.p-Home.Link17 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox10 {
;
}
.p-Home.TextBox11 {
;
}
.p-Home.TextBox13 {
;
}
.p-Home.Link18 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Link19 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Link20 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox86 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
background-clip: text;
-webkit-background-clip: text;
background-position-y: 0px;
background-position-x: 0px;
background-repeat: no-repeat;
background-attachment: scroll;
outline-color: ;
color: transparent;
background-origin: padding-box;
background-color: #0a0a0a;
}
.p-Home.TextBox87 {
font-family: IBM Plex Sans;
font-size: 5.4em;
font-weight: 700;
max-width: px;
align-self: auto;
text-align: center;
min-width: 260px;
width: 86%;
line-height: 1em;
}
.p-Home.TextBox89 {
font-size: 2em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666666;
max-width: 260px;
}
.p-Home.TextBox91 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 3em;
}
.p-Home.Image46 {
width: 70px;
height: 70px;
}
.p-Home.UnorderedList1 {
;
}
.p-Home.Image87 {
width: 70px;
height: 70px;
}
.p-Home.TextBox225 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 3em;
}
.p-Home.TextBox226 {
font-size: 2em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666666;
max-width: 285px;
min-width: 260px;
width: ;
}
.p-Home.UnorderedList2 {
padding-left: ;
}
.p-Home.Image88 {
width: 70px;
height: 70px;
}
.p-Home.TextBox230 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 3em;
}
.p-Home.TextBox231 {
font-size: 2em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666666;
max-width: 280px;
min-width: 260px;
}
.p-Home.UnorderedList3 {
width: ;
height: ;
box-sizing: content-box;
}
.p-Home.Image37 {
width: 41%;
}
.p-Home.TextBox25 {
font-family: IBM Plex Sans;
font-size: 2.2em;
font-weight: 400;
color: #666666;
line-height: 1.5em;
}
.p-Home.TextBox82 {
line-height: 1.2em;
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-repeat: repeat;
background-attachment: local;
background-origin: padding-box;
background-color: #000000;
}
.p-Home.TextBox83 {
line-height: 1.12em;
}
.p-Home.TextBox84 {
;
}
.p-Home.Image38 {
;
}
.p-Home.TextBox694 {
cursor: pointer;
background-color: #000000;
color: #fffefe;
padding-left: 24px;
padding-right: 24px;
padding-top: 13px;
padding-bottom: 13px;
z-index: 1;
width: ;
position: absolute;
left: 0;
top: 0;
}
.p-Home.TextBox731 {
cursor: pointer;
background-color: #ed1f1f;
color: transparent;
padding-left: 24px;
padding-right: 24px;
padding-top: 13px;
padding-bottom: 13px;
z-index: -1;
position: static;
}
.p-Home.TextBox85 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.9em;
}
.p-Home.Image42 {
height: 100%;
width: 142px;
padding-top: 8px;
padding-bottom: 8px;
}
.p-Home.Image43 {
height: 100%;
width: 142px;
padding-top: 8px;
padding-bottom: 8px;
}
.p-Home.Image44 {
height: 100%;
width: 142px;
padding-top: 8px;
padding-bottom: 8px;
}
.p-Home.Image45 {
height: 100%;
width: 142px;
padding-top: 8px;
padding-bottom: 8px;
}
.p-Home.TextBox119 {
font-family: IBM Plex Sans;
font-size: 2.2em;
width: ;
max-width: px;
font-weight: 700;
color: transparent;
background-color: #0a0a0a;
background-clip: text;
-webkit-background-clip: text;
background-attachment: scroll;
}
.p-Home.TextBox120 {
font-size: 6em;
font-family: IBM Plex Sans;
font-weight: 700;
min-width: ;
width: px;
max-width: ;
word-wrap: normal;
line-height: 1em;
}
.p-Home.TextBox1759 {
font-size: 6em;
font-family: IBM Plex Sans;
font-weight: 700;
min-width: ;
width: px;
max-width: ;
word-wrap: normal;
line-height: 1em;
}
.p-Home.TextBox732 {
cursor: pointer;
background-color: #fa0e0e;
color: transparent;
padding-left: 24px;
padding-right: 24px;
padding-top: 13px;
padding-bottom: 13px;
z-index: -1;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 700;
}
.p-Home.TextBox733 {
cursor: pointer;
background-color: #000000;
color: #fffefe;
padding-left: 24px;
padding-right: 24px;
padding-top: 13px;
padding-bottom: 13px;
z-index: 1;
width: ;
position: absolute;
left: 0;
top: 0;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 700;
}
.p-Home.Image92 {
width: ;
height: ;
max-width: ;
}
.p-Home.TextBox236 {
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #101010;
line-height: 1.1em;
}
.p-Home.TextBox237 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.13em;
}
.p-Home.TextBox235 {
;
}
.p-Home.Image91 {
width: 0.95em;
height: 0.95em;
}
.p-Home.Image427 {
width: ;
height: ;
max-width: ;
}
.p-Home.TextBox1741 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.13em;
}
.p-Home.TextBox1742 {
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #101010;
line-height: 1.1em;
}
.p-Home.Image426 {
width: 0.95em;
height: 0.95em;
}
.p-Home.TextBox1740 {
;
}
.p-Home.Image429 {
width: ;
height: ;
max-width: ;
}
.p-Home.TextBox1744 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.13em;
}
.p-Home.TextBox1745 {
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #101010;
line-height: 1.1em;
}
.p-Home.Image428 {
width: 0.95em;
height: 0.95em;
}
.p-Home.TextBox1743 {
;
}
.p-Home.Image435 {
width: ;
height: ;
max-width: ;
}
.p-Home.TextBox1753 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.13em;
}
.p-Home.TextBox1754 {
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #101010;
line-height: 1.1em;
}
.p-Home.Image434 {
width: 0.95em;
height: 0.95em;
}
.p-Home.TextBox1752 {
;
}
.p-Home.Image437 {
width: ;
height: ;
max-width: ;
}
.p-Home.TextBox1756 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.13em;
}
.p-Home.TextBox1757 {
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 500;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #101010;
line-height: 1.1em;
}
.p-Home.Image436 {
width: 0.95em;
height: 0.95em;
}
.p-Home.TextBox1755 {
;
}
.p-Home.TextBox309 {
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 600;
line-height: 20px;
}
.p-Home.TextBox310 {
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 600;
line-height: 20px;
}
.p-Home.TextBox142 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-Home.TextBox139 {
;
}
.p-Home.TextBox140 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-Home.TextBox141 {
;
}
.p-Home.Image98 {
height: 0.73em;
width: 0.78em;
}
.p-Home.TextBox245 {
;
}
.p-Home.TextBox293 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-Home.TextBox289 {
;
}
.p-Home.Image113 {
height: 0.73em;
width: 0.78em;
}
.p-Home.TextBox290 {
;
}
.p-Home.TextBox291 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-Home.TextBox292 {
;
}
.p-Home.TextBox298 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-Home.TextBox294 {
;
}
.p-Home.Image114 {
height: 0.73em;
width: 0.78em;
}
.p-Home.TextBox295 {
;
}
.p-Home.TextBox296 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-Home.TextBox297 {
;
}
.p-Home.TextBox303 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-Home.TextBox299 {
;
}
.p-Home.Image115 {
height: 0.73em;
width: 0.78em;
}
.p-Home.TextBox300 {
;
}
.p-Home.TextBox301 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-Home.TextBox302 {
;
}
.p-Home.TextBox308 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-Home.TextBox304 {
;
}
.p-Home.Image116 {
height: 0.73em;
width: 0.78em;
}
.p-Home.TextBox305 {
;
}
.p-Home.TextBox306 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-Home.TextBox307 {
;
}
.p-Home.TextBox136 {
font-family: IBM Plex Sans;
font-size: 5.4em;
font-weight: 600;
}
.p-Home.TextBox137 {
font-size: 2.3em;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-attachment: scroll;
background-origin: content-box;
background-repeat: repeat;
background-color: #fff6f6;
}
.p-Home.TextBox138 {
;
}
.p-Home.Image63 {
height: 0.73em;
width: 0.78em;
}
.p-Home.Image73 {
width: 28%;
}
.p-Home.Image74 {
width: 39.5%;
}
.p-Home.Image75 {
;
}
.p-Home.Image76 {
;
}
.p-Home.TextBox164 {
max-width: 60%;
min-width: ;
font-size: 2.35em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666666;
line-height: 1.4em;
}
.p-Home.TextBox165 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 700;
background-clip: text;
-webkit-background-clip: text;
background-attachment: scroll;
color: transparent;
background-color: #050505;
}
.p-Home.TextBox166 {
font-size: 5.4em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox529 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image108 {
width: 5em;
height: 5em;
font-size: ;
}
.p-Home.TextBox205 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox206 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox526 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image206 {
font-size: 1.6em;
}
.p-Home.Image207 {
font-size: 1.6em;
}
.p-Home.TextBox530 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image208 {
width: 5em;
height: 5em;
font-size: ;
}
.p-Home.TextBox531 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox532 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox533 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image209 {
font-size: 1.6em;
}
.p-Home.TextBox534 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image210 {
width: 5em;
height: 5em;
font-size: ;
}
.p-Home.TextBox535 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox536 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox537 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox207 {
;
}
.p-Home.TextBox208 {
;
}
.p-Home.TextBox281 {
;
}
.p-Home.TextBox282 {
;
}
.p-Home.TextBox278 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox279 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image107 {
font-size: 1.6em;
}
.p-Home.TextBox280 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox512 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox517 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox514 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image203 {
font-size: 1.6em;
}
.p-Home.TextBox515 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox516 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox521 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox518 {
font-family: IBM Plex Sans;
font-size: 1.7em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.Image204 {
font-size: 1.6em;
}
.p-Home.TextBox519 {
font-size: 2.4em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox520 {
font-family: IBM Plex Sans;
font-size: 1.75em;
font-weight: 500;
color: #6b6b6b;
}
.p-Home.TextBox212 {
font-family: IBM Plex Sans;
font-size: 1.8em;
}
.p-Home.TextBox213 {
font-family: IBM Plex Sans;
font-size: 2em;
font-weight: 600;
}
.p-Home.TextBox311 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 400;
line-height: 24px;
color: #ffffff;
text-align: center;
}
.p-Home.TextBox313 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 400;
line-height: 24px;
color: #ffffff;
text-align: center;
}
.p-Home.TextBox211 {
font-size: 3.5em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.2em;
}
.p-Home.Image84 {
width: 4.5em;
}
.p-Home.Image83 {
width: 100%;
height: px;
background-color: transparent;
}
.p-Home.TextBox209 {
font-family: IBM Plex Sans;
font-size: 2.3em;
font-weight: 700;
color: transparent;
background-attachment: scroll;
background-clip: text;
-webkit-background-clip: text;
background-color: #050505;
}
.p-Home.TextBox210 {
font-family: IBM Plex Sans;
font-size: 5.7em;
font-weight: 700;
}
.p-Home.Accordion5 {
width: 100%;
color: #666666;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: ;
}
.p-Home.Accordion3 {
width: 100%;
color: #666666;
background-color: #e41f1f;
font-family: IBM Plex Sans;
font-size: ;
font-weight: ;
}
.p-Home.TextBox214 {
font-family: IBM Plex Sans;
font-size: 2.4em;
font-weight: 700;
word-wrap: normal;
line-height: ;
color: transparent;
background-attachment: scroll;
background-clip: text;
-webkit-background-clip: text;
background-color: #fff8f8;
}
.p-Home.TextBox216 {
font-family: IBM Plex Sans;
font-size: 5.5em;
font-weight: 700;
}
.p-Home.Image36 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-Home.TextBox498 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox499 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox500 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox501 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox497 {
;
}
.p-Home.Image199 {
;
}
.p-Home.TextBox468 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox469 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox470 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.TextBox471 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Home.Image193 {
;
}
.p-Home.TextBox467 {
;
}
@media screen and (max-width: 991px) {
	.p-Home.main.bpt {
position: relative;
	}
	.p-Home.Flex149.bpt {
row-gap: 24px;
	}
	.p-Home.Flex199.bpt {
width: 100%;
	}
	.p-Home.Flex316.bpt {
width: 100%;
	}
	.p-Home.Flex321.bpt {
width: 100%;
	}
	.p-Home.Flex135.bpt {
font-size: 2.1em;
flex-wrap: wrap;
row-gap: 40px;
	}
	.p-Home.Flex335.bpt {
font-size: 10px;
	}
	.p-Home.Flex183.bpt {
flex-direction: column;
align-items: center;
row-gap: 24px;
width: 100%;
max-width: ;
min-width: ;
justify-content: flex-start;
	}
	.p-Home.Flex657.bpt {
width: ;
height: ;
padding-bottom: ;
flex-direction: column;
align-items: center;
max-width: 440px;
min-width: 200px;
row-gap: 20px;
	}
	.p-Home.Flex266.bpt {
flex-direction: row;
width: 100%;
	}
	.p-Home.Flex297.bpt {
width: 100%;
row-gap: 6em;
	}
	.p-Home.Flex295.bpt {
row-gap: 4em;
	}
	.p-Home.Flex291.bpt {
column-gap: 20px;
	}
	.p-Home.Flex710.bpt {
column-gap: 20px;
	}
	.p-Home.Flex718.bpt {
column-gap: 20px;
	}
	.p-Home.Flex380.bpt {
width: 100%;
row-gap: 6em;
	}
	.p-Home.Flex191.bpt {
flex-direction: column;
align-items: center;
row-gap: 5.5em;
	}
	.p-Home.Flex392.bpt {
row-gap: 3em;
width: 100%;
	}
	.p-Home.header.bpt {
width: px;
position: static;
	}
	.p-Home.Flex655.bpt {
column-gap: 6px;
	}
	.p-Home.Flex633.bpt {
column-gap: 6px;
	}
	.p-Home.Image73.bpt {
width: 100%;
height: ;
min-width: ;
max-width: ;
	}
	.p-Home.Image74.bpt {
width: 100%;
height: 100%;
max-width: ;
	}
	.p-Home.Image75.bpt {
width: 48%;
	}
	.p-Home.Image76.bpt {
margin-right: 0px;
width: 48%;
	}
	.p-Home.TextBox278.bpt {
font-weight: 500;
	}
	.p-Home.TextBox516.bpt {
font-weight: 500;
	}
	.p-Home.TextBox520.bpt {
font-weight: 500;
	}
	.p-Home.Flex10.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-Home.Flex148.bpt {
padding-top: 90px;
	}
	.p-Home.Flex150.bpt {
font-size: 9px;
flex-direction: column;
row-gap: 70px;
	}
	.p-Home.Flex1.bpt {
font-size: 8px;
	}
	.p-Home.Flex178.bpt {
font-size: 9px;
	}
	.p-Home.Flex179.bpt {
min-width: 50%;
	}
	.p-Home.Flex185.bpt {
justify-content: flex-start;
align-items: flex-start;
	}
	.p-Home.Flex184.bpt {
flex-direction: column;
row-gap: 34px;
padding-bottom: 78px;
	}
	.p-Home.Flex189.bpt {
flex-direction: column;
row-gap: 64px;
	}
	.p-Home.Flex705.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex703.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex699.bpt {
display: flex;
	}
	.p-Home.Flex713.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex707.bpt {
display: flex;
	}
	.p-Home.Flex712.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex721.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex715.bpt {
display: flex;
	}
	.p-Home.Flex720.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex296.bpt {
font-size: 3.4em;
column-gap: 18px;
	}
	.p-Home.Flex378.bpt {
font-size: 3.4em;
column-gap: 18px;
	}
	.p-Home.Flex377.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex671.bpt {
display: flex;
	}
	.p-Home.Flex674.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex684.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex682.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex678.bpt {
display: flex;
	}
	.p-Home.Flex691.bpt {
flex-direction: column;
column-gap: ;
row-gap: ;
	}
	.p-Home.Flex689.bpt {
justify-content: flex-start;
align-items: stretch;
	}
	.p-Home.Flex685.bpt {
display: flex;
	}
	.p-Home.Flex193.bpt {
row-gap: ;
	}
	.p-Home.Flex298.bpt {
height: ;
width: 65%;
	}
	.p-Home.Flex195.bpt {
flex-direction: column;
	}
	.p-Home.Flex305.bpt {
width: 100%;
	}
	.p-Home.Flex306.bpt {
width: 100%;
	}
	.p-Home.Flex128.bpt {
padding-top: 40px;
	}
	.p-Home.Flex654.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-Home.Flex656.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-Home.Flex634.bpt {
column-gap: 28px;
display: none;
	}
	.p-Home.TextBox89.bpt {
max-width: 400px;
width: ;
min-width: 260px;
	}
	.p-Home.TextBox226.bpt {
min-width: 260px;
max-width: 400px;
	}
	.p-Home.TextBox231.bpt {
min-width: 260px;
max-width: 400px;
	}
	.p-Home.TextBox25.bpt {
font-size: 2.3em;
	}
	.p-Home.TextBox166.bpt {
font-weight: 700;
	}
	.p-Home.footer.bpt {
font-size: 10.5px;
	}
	.p-Home.Flex7.bpt {
row-gap: 70px;
	}
	.p-Home.Flex9.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-Home.Flex12.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-Home.Flex5.bpt {
font-size: 12px;
align-items: center;
	}
	.p-Home.Flex2.bpt {
padding-top: 80px;
	}
	.p-Home.Flex133.bpt {
font-size: 6em;
margin-top: 0px;
	}
	.p-Home.Flex175.bpt {
margin-right: ;
padding-right: ;
	}
	.p-Home.Flex405.bpt {
width: 48%;
height: ;
	}
	.p-Home.Flex197.bpt {
font-size: 9.8px;
padding-bottom: 44px;
	}
	.p-Home.Menu3.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-Home.Flex651.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-Home.TextBox87.bpt {
width: ;
font-size: 4.5em;
	}
	.p-Home.Image37.bpt {
width: 39%;
	}
	.p-Home.TextBox82.bpt {
line-height: 1.2em;
	}
	.p-Home.TextBox120.bpt {
min-width: ;
word-wrap: normal;
font-size: 5.7em;
	}
	.p-Home.TextBox1759.bpt {
min-width: ;
word-wrap: normal;
font-size: 5.7em;
	}
	.p-Home.TextBox164.bpt {
width: 100%;
max-width: 700px;
min-width: ;
padding-right: ;
	}
	.p-Home.TextBox216.bpt {
text-align: center;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.Flex10.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-Home.Flex11.bpt {
font-size: 1.2em;
	}
	.p-Home.Flex17.bpt {
flex-direction: row;
font-size: 1.4em;
display: none;
	}
	.p-Home.Flex132.bpt {
width: 100%;
row-gap: 34px;
	}
	.p-Home.Flex4.bpt {
row-gap: 3.4em;
justify-content: center;
	}
	.p-Home.Flex226.bpt {
max-width: 100%;
width: ;
	}
	.p-Home.Flex182.bpt {
font-size: 8.5px;
	}
	.p-Home.Flex179.bpt {
width: 100%;
	}
	.p-Home.Flex180.bpt {
position: static;
width: 100%;
	}
	.p-Home.Flex184.bpt {
background-clip: border-box;
-webkit-background-clip: border-box;
box-sizing: content-box;
padding-right: ;
	}
	.p-Home.Flex298.bpt {
width: 100%;
	}
	.p-Home.Flex307.bpt {
width: 11em;
height: ;
	}
	.p-Home.Flex195.bpt {
flex-direction: column;
	}
	.p-Home.Flex305.bpt {
width: 100%;
	}
	.p-Home.Flex306.bpt {
width: 100%;
	}
	.p-Home.Flex656.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-Home.Flex634.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-Home.TextBox25.bpt {
font-size: 2.4em;
	}
	.p-Home.TextBox298.bpt {
width: ;
	}
	.p-Home.TextBox303.bpt {
width: ;
	}
	.p-Home.TextBox308.bpt {
width: ;
	}
	.p-Home.TextBox212.bpt {
font-size: 2em;
	}
	.p-Home.footer.bpt {
font-size: 10px;
	}
	.p-Home.Flex7.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-Home.Flex9.bpt {
font-size: 4.2em;
	}
	.p-Home.Flex12.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-Home.Flex5.bpt {
font-size: 9px;
	}
	.p-Home.Flex2.bpt {
flex-direction: column;
align-items: center;
row-gap: 44px;
	}
	.p-Home.Flex133.bpt {
font-size: 6em;
	}
	.p-Home.Flex145.bpt {
flex-wrap: wrap;
justify-content: center;
	}
	.p-Home.Flex176.bpt {
flex-direction: column;
align-items: flex-start;
row-gap: 38px;
	}
	.p-Home.Flex175.bpt {
width: 90vw;
align-items: stretch;
	}
	.p-Home.Flex181.bpt {
flex-direction: column;
	}
	.p-Home.Flex186.bpt {
font-size: 8.5px;
	}
	.p-Home.Flex190.bpt {
font-size: ;
	}
	.p-Home.Flex194.bpt {
font-size: 9px;
	}
	.p-Home.Flex405.bpt {
width: 68%;
	}
	.p-Home.Flex198.bpt {
font-size: 8px;
	}
	.p-Home.Flex197.bpt {
font-size: ;
padding-bottom: 40px;
	}
	.p-Home.Menu3.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-Home.Flex651.bpt {
right: 0;
width: 90vw;
	}
	.p-Home.TextBox86.bpt {
font-size: 20px;
	}
	.p-Home.TextBox87.bpt {
font-size: 4.8em;
	}
	.p-Home.Image37.bpt {
width: 70%;
	}
	.p-Home.TextBox82.bpt {
line-height: 60px;
	}
	.p-Home.TextBox83.bpt {
line-height: 60px;
	}
	.p-Home.TextBox120.bpt {
min-width: 100%;
	}
	.p-Home.TextBox1759.bpt {
min-width: 100%;
	}
	.p-Home.TextBox142.bpt {
width: ;
	}
	.p-Home.TextBox293.bpt {
width: ;
	}
	.p-Home.TextBox164.bpt {
box-sizing: content-box;
max-width: ;
padding-right: ;
margin-right: ;
	}
	.p-Home.TextBox213.bpt {
font-size: 2.3em;
	}
	.p-Home.TextBox209.bpt {
font-weight: 700;
	}
	.p-Home.TextBox210.bpt {
font-weight: 700;
	}
	.p-Home.TextBox214.bpt {
font-size: 2.7em;
font-weight: 600;
	}
	.p-Home.TextBox216.bpt {
font-size: 5em;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.footer.bpt {
font-size: 9.5px;
	}
	.p-Home.Flex7.bpt {
width: 90%;
	}
	.p-Home.Flex9.bpt {
font-size: 3.8em;
	}
	.p-Home.Flex13.bpt {
cursor: pointer;
	}
	.p-Home.Flex12.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-Home.Flex5.bpt {
font-size: 8.5px;
	}
	.p-Home.Flex148.bpt {
width: 90%;
	}
	.p-Home.Flex150.bpt {
row-gap: 75px;
font-size: 9.3px;
	}
	.p-Home.Flex1.bpt {
font-size: 7.5px;
	}
	.p-Home.Flex2.bpt {
width: 90%;
	}
	.p-Home.Flex133.bpt {
line-height: ;
font-size: 5em;
	}
	.p-Home.Flex145.bpt {
row-gap: 4em;
justify-content: center;
	}
	.p-Home.Flex178.bpt {
font-size: 8.5px;
	}
	.p-Home.Flex177.bpt {
width: 90%;
	}
	.p-Home.Flex176.bpt {
row-gap: 48px;
	}
	.p-Home.Flex175.bpt {
width: 90vw;
	}
	.p-Home.Flex328.bpt {
width: 90vw;
	}
	.p-Home.Flex1546.bpt {
width: 90vw;
	}
	.p-Home.Flex1549.bpt {
width: 90vw;
	}
	.p-Home.Flex1558.bpt {
width: 90vw;
	}
	.p-Home.Flex1561.bpt {
width: 90vw;
	}
	.p-Home.Flex181.bpt {
width: 90%;
	}
	.p-Home.Flex186.bpt {
font-size: 9px;
	}
	.p-Home.Flex185.bpt {
width: 90%;
	}
	.p-Home.Flex253.bpt {
align-items: flex-start;
	}
	.p-Home.Flex190.bpt {
font-size: 9px;
	}
	.p-Home.Flex189.bpt {
width: 90%;
	}
	.p-Home.Flex705.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex703.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex704.bpt {
align-items: flex-start;
	}
	.p-Home.Flex701.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex699.bpt {
display: none;
	}
	.p-Home.Flex713.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex711.bpt {
align-items: flex-start;
	}
	.p-Home.Flex709.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex707.bpt {
display: none;
	}
	.p-Home.Flex712.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex721.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex719.bpt {
align-items: flex-start;
	}
	.p-Home.Flex717.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex715.bpt {
display: none;
	}
	.p-Home.Flex720.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex296.bpt {
font-weight: 700;
font-size: 3.35em;
	}
	.p-Home.Flex378.bpt {
font-weight: 700;
font-size: 3.35em;
	}
	.p-Home.Flex377.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex673.bpt {
align-items: flex-start;
	}
	.p-Home.Flex374.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex671.bpt {
display: none;
	}
	.p-Home.Flex674.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex684.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex682.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex683.bpt {
align-items: flex-start;
	}
	.p-Home.Flex680.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex678.bpt {
display: none;
	}
	.p-Home.Flex691.bpt {
row-gap: 18px;
padding-bottom: 39px;
	}
	.p-Home.Flex689.bpt {
height: 20px;
display: flex;
	}
	.p-Home.Flex690.bpt {
align-items: flex-start;
	}
	.p-Home.Flex687.bpt {
justify-content: flex-start;
	}
	.p-Home.Flex685.bpt {
display: none;
	}
	.p-Home.Flex194.bpt {
font-size: 7.65px;
	}
	.p-Home.Flex193.bpt {
width: 90%;
	}
	.p-Home.Flex301.bpt {
font-size: 8.5px;
	}
	.p-Home.Flex405.bpt {
width: 100%;
	}
	.p-Home.Flex198.bpt {
font-size: 7.3px;
	}
	.p-Home.Flex197.bpt {
width: 90%;
padding-bottom: 22px;
	}
	.p-Home.Flex196.bpt {
text-align: center;
	}
	.p-Home.Flex128.bpt {
width: 90%;
	}
	.p-Home.Menu3.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-Home.Flex651.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-Home.Flex654.bpt {
width: 90%;
padding-left: ;
	}
	.p-Home.TextBox541.bpt {
cursor: pointer;
	}
	.p-Home.TextBox542.bpt {
cursor: pointer;
	}
	.p-Home.TextBox543.bpt {
cursor: pointer;
	}
	.p-Home.TextBox544.bpt {
cursor: pointer;
	}
	.p-Home.TextBox545.bpt {
cursor: pointer;
	}
	.p-Home.TextBox546.bpt {
cursor: pointer;
	}
	.p-Home.TextBox538.bpt {
cursor: pointer;
	}
	.p-Home.TextBox539.bpt {
cursor: pointer;
	}
	.p-Home.TextBox540.bpt {
cursor: pointer;
	}
	.p-Home.TextBox86.bpt {
font-size: 18px;
	}
	.p-Home.TextBox87.bpt {
font-size: 3.8em;
min-width: 100%;
width: 100%;
	}
	.p-Home.TextBox89.bpt {
min-width: 100%;
	}
	.p-Home.TextBox226.bpt {
min-width: 100%;
	}
	.p-Home.TextBox231.bpt {
min-width: 100%;
	}
	.p-Home.Image37.bpt {
width: 90%;
	}
	.p-Home.TextBox82.bpt {
line-height: 1.2em;
	}
	.p-Home.TextBox83.bpt {
line-height: 1.2em;
	}
	.p-Home.TextBox120.bpt {
min-width: 100%;
width: ;
word-wrap: normal;
	}
	.p-Home.TextBox1759.bpt {
min-width: 100%;
width: ;
word-wrap: normal;
	}
	.p-Home.TextBox142.bpt {
width: ;
	}
	.p-Home.TextBox293.bpt {
width: ;
	}
	.p-Home.TextBox137.bpt {
font-size: 2.45em;
	}
	.p-Home.TextBox164.bpt {
font-size: 2.2em;
	}
	.p-Home.TextBox165.bpt {
font-size: 1.8em;
	}
	.p-Home.TextBox166.bpt {
font-weight: 700;
font-size: 5.4em;
	}
	.p-Home.TextBox279.bpt {
font-weight: 500;
	}
	.p-Home.TextBox515.bpt {
font-weight: 500;
	}
	.p-Home.TextBox519.bpt {
font-weight: 500;
	}
	.p-Home.TextBox213.bpt {
font-size: 2em;
	}
	.p-Home.TextBox209.bpt {
font-weight: 700;
font-size: 2.35em;
	}
	.p-Home.TextBox210.bpt {
font-size: 4.8em;
	}
	.p-Home.Accordion5.bpt {
margin-bottom: ;
padding-bottom: ;
	}
	.p-Home.TextBox214.bpt {
font-size: 2.55em;
	}
	.p-Home.TextBox216.bpt {
font-size: 3.6em;
	}
}