.p-joggr-website-design.Flex1808 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-joggr-website-design.Flex1807 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 90px;
padding-left: ;
margin-top: ;
}
.p-joggr-website-design.Flex1805 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-joggr-website-design.Flex1806 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-joggr-website-design.Flex1803 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-joggr-website-design.Flex1799 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-joggr-website-design.Flex1804 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-joggr-website-design.Flex1800 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-joggr-website-design.Flex1801 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-joggr-website-design.Flex1802 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-joggr-website-design.Flex1829 {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
align-items: center;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-joggr-website-design.Flex1826 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: ;
padding-bottom: ;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 700;
align-items: stretch;
margin-top: 80px;
margin-bottom: 80px;
}
.p-joggr-website-design.Flex1823 {
display: flex;
flex-direction: column;
row-gap: 12px;
width: 58%;
align-items: flex-start;
}
.p-joggr-website-design.Flex1824 {
display: flex;
flex-direction: row;
width: 38%;
justify-content: space-between;
align-items: flex-start;
}
.p-joggr-website-design.Flex1820 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-joggr-website-design.Flex1821 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-joggr-website-design.Flex1827 {
display: flex;
width: 100%;
height: 600px;
}
.p-joggr-website-design.Flex1828 {
display: flex;
}
.p-joggr-website-design.Flex1825 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10.5px;
}
.p-joggr-website-design.Flex1822 {
display: flex;
width: ;
max-width: 800px;
padding-top: 140px;
padding-bottom: 140px;
margin-top: ;
flex-direction: column;
padding-left: ;
padding-right: ;
align-items: center;
row-gap: 80px;
}
.p-joggr-website-design.Flex1818 {
display: flex;
width: ;
flex-direction: column;
row-gap: 32px;
font-size: 10px;
}
.p-joggr-website-design.Flex1815 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
align-items: flex-start;
}
.p-joggr-website-design.Flex1809 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1810 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1811 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1816 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
}
.p-joggr-website-design.Flex1812 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1813 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1814 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-joggr-website-design.Flex1817 {
display: flex;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-left-width: 5px;
border-left-style: solid;
border-left-color: #736b6b66;
}
.p-joggr-website-design.Flex1819 {
display: flex;
font-family: IBM Plex Sans;
font-size: 1em;
cursor: pointer;
align-items: center;
row-gap: ;
column-gap: 18px;
}
.p-joggr-website-design.Flex1915 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-joggr-website-design.Flex1914 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-joggr-website-design.Flex1913 {
display: flex;
flex-direction: row;
column-gap: 26.5px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.7px;
font-weight: 500;
}
.p-joggr-website-design.Flex1911 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.Menu32 {
display: none;
}
.p-joggr-website-design.Flex1912 {
display: flex;
}
.p-joggr-website-design.Flex1910 {
display: flex;
}
.p-joggr-website-design.Flex1909 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-joggr-website-design.Flex1908 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2050 {
font-size: ;
}
.p-joggr-website-design.TextBox2051 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-joggr-website-design.Image507 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2049 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-joggr-website-design.Image506 {
width: 30px;
}
.p-joggr-website-design.TextBox2039 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-joggr-website-design.TextBox2040 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2041 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2042 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2043 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2044 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2045 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2046 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2047 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2048 {
cursor: pointer;
}
.p-joggr-website-design.TextBox2080 {
font-size: 5.4em;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2081 {
font-size: 1.4em;
color: transparent;
background-color: #cbc734;
background-clip: text;
-webkit-background-clip: text;
}
.p-joggr-website-design.TextBox2076 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-joggr-website-design.TextBox2077 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-joggr-website-design.TextBox2078 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-joggr-website-design.TextBox2079 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-joggr-website-design.Image509 {
width: 100%;
}
.p-joggr-website-design.TextBox2065 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-joggr-website-design.TextBox2066 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-joggr-website-design.TextBox2067 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666ff;
}
.p-joggr-website-design.TextBox2068 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-joggr-website-design.TextBox2069 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2070 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2071 {
font-size: 2.6em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2072 {
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2073 {
font-size: 3.6em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-joggr-website-design.TextBox2074 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-joggr-website-design.TextBox2052 {
;
}
.p-joggr-website-design.TextBox2053 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-joggr-website-design.TextBox2054 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-joggr-website-design.TextBox2055 {
;
}
.p-joggr-website-design.TextBox2056 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-joggr-website-design.TextBox2057 {
;
}
.p-joggr-website-design.TextBox2058 {
;
}
.p-joggr-website-design.TextBox2059 {
;
}
.p-joggr-website-design.TextBox2060 {
;
}
.p-joggr-website-design.TextBox2061 {
;
}
.p-joggr-website-design.TextBox2062 {
;
}
.p-joggr-website-design.TextBox2063 {
;
}
.p-joggr-website-design.TextBox2064 {
font-family: IBM Plex Sans;
font-weight: italic;
font-size: 2em;
text-align: left;
}
.p-joggr-website-design.TextBox2075 {
font-size: 4.2em;
font-family: IBM Plex Sans;
font-weight: 700;
color: transparent;
background-color: #dd1a1a;
background-clip: text;
-webkit-background-clip: text;
}
.p-joggr-website-design.Image508 {
margin-bottom: 0px;
width: 3.4em;
height: 3.4em;
}
.p-joggr-website-design.Image526 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-joggr-website-design.TextBox2194 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2195 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2196 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2197 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2193 {
;
}
.p-joggr-website-design.Image525 {
;
}
.p-joggr-website-design.TextBox2189 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2190 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2191 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.TextBox2192 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-joggr-website-design.Image524 {
;
}
.p-joggr-website-design.TextBox2188 {
;
}
@media screen and (max-width: 991px) {
	.p-joggr-website-design.Flex1823.bpt {
width: 100%;
	}
	.p-joggr-website-design.Flex1820.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-joggr-website-design.Flex1821.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-joggr-website-design.Flex1915.bpt {
width: px;
position: static;
	}
	.p-joggr-website-design.Flex1911.bpt {
column-gap: 6px;
	}
	.p-joggr-website-design.Flex1908.bpt {
column-gap: 6px;
	}
	.p-joggr-website-design.TextBox2069.bpt {
font-weight: 500;
	}
	.p-joggr-website-design.TextBox2070.bpt {
font-weight: 500;
	}
	.p-joggr-website-design.Flex1806.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-joggr-website-design.Flex1826.bpt {
flex-direction: column;
row-gap: 44px;
	}
	.p-joggr-website-design.Flex1824.bpt {
width: 100%;
	}
	.p-joggr-website-design.Flex1827.bpt {
height: 400px;
	}
	.p-joggr-website-design.Flex1822.bpt {
width: 82%;
	}
	.p-joggr-website-design.Flex1818.bpt {
width: 100%;
font-size: 10px;
	}
	.p-joggr-website-design.Flex1914.bpt {
padding-top: 40px;
	}
	.p-joggr-website-design.Flex1913.bpt {
column-gap: 28px;
display: none;
	}
	.p-joggr-website-design.Flex1910.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-joggr-website-design.Flex1909.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-joggr-website-design.Image508.bpt {
width: 3.2em;
height: 3.2em;
	}
	.p-joggr-website-design.Flex1808.bpt {
font-size: 10.5px;
	}
	.p-joggr-website-design.Flex1807.bpt {
row-gap: 70px;
padding-bottom: 80px;
	}
	.p-joggr-website-design.Flex1805.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-joggr-website-design.Flex1804.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-joggr-website-design.Menu32.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-joggr-website-design.Flex1912.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-joggr-website-design.TextBox2080.bpt {
font-size: 5em;
	}
	.p-joggr-website-design.TextBox2075.bpt {
font-size: 4em;
	}
}
@media screen and (max-width: 767px) {
	.p-joggr-website-design.Flex1806.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-joggr-website-design.Flex1803.bpt {
font-size: 1.2em;
	}
	.p-joggr-website-design.Flex1825.bpt {
font-size: 9.5px;
	}
	.p-joggr-website-design.Flex1818.bpt {
font-size: 8px;
	}
	.p-joggr-website-design.Flex1913.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-joggr-website-design.Flex1909.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-joggr-website-design.TextBox2065.bpt {
font-size: 2em;
	}
	.p-joggr-website-design.TextBox2066.bpt {
font-size: 2em;
	}
	.p-joggr-website-design.TextBox2067.bpt {
font-size: 2em;
	}
	.p-joggr-website-design.TextBox2068.bpt {
font-size: 2em;
	}
	.p-joggr-website-design.TextBox2072.bpt {
font-size: 2.6em;
	}
	.p-joggr-website-design.TextBox2074.bpt {
font-size: 2em;
	}
	.p-joggr-website-design.Image508.bpt {
width: 3em;
height: 3em;
	}
	.p-joggr-website-design.Flex1808.bpt {
font-size: 10px;
	}
	.p-joggr-website-design.Flex1807.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-joggr-website-design.Flex1805.bpt {
font-size: 4.2em;
	}
	.p-joggr-website-design.Flex1804.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-joggr-website-design.Menu32.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-joggr-website-design.Flex1912.bpt {
right: 0;
width: 90vw;
	}
	.p-joggr-website-design.TextBox2080.bpt {
font-size: 4em;
	}
	.p-joggr-website-design.TextBox2077.bpt {
font-size: 2.1em;
	}
	.p-joggr-website-design.TextBox2078.bpt {
font-size: 2.1em;
	}
	.p-joggr-website-design.TextBox2073.bpt {
font-size: 3.4em;
	}
	.p-joggr-website-design.TextBox2075.bpt {
font-size: 3.8em;
	}
}
@media screen and (max-width: 478px) {
	.p-joggr-website-design.Flex1808.bpt {
font-size: 9.5px;
	}
	.p-joggr-website-design.Flex1807.bpt {
width: 90%;
	}
	.p-joggr-website-design.Flex1805.bpt {
font-size: 3.8em;
	}
	.p-joggr-website-design.Flex1799.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.Flex1804.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-joggr-website-design.Flex1826.bpt {
margin-bottom: 40px;
width: 90%;
	}
	.p-joggr-website-design.Flex1824.bpt {
flex-direction: column;
row-gap: 32px;
	}
	.p-joggr-website-design.Flex1827.bpt {
height: 300px;
	}
	.p-joggr-website-design.Flex1822.bpt {
width: 90%;
	}
	.p-joggr-website-design.Flex1914.bpt {
width: 90%;
	}
	.p-joggr-website-design.Menu32.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-joggr-website-design.Flex1912.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-joggr-website-design.Flex1910.bpt {
width: 90%;
padding-left: ;
	}
	.p-joggr-website-design.TextBox2040.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2041.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2042.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2043.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2044.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2045.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2046.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2047.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2048.bpt {
cursor: pointer;
	}
	.p-joggr-website-design.TextBox2080.bpt {
font-size: 3.6em;
	}
	.p-joggr-website-design.TextBox2076.bpt {
font-size: 1.6em;
	}
	.p-joggr-website-design.TextBox2077.bpt {
font-size: 1.8em;
	}
	.p-joggr-website-design.TextBox2078.bpt {
font-size: 1.8em;
	}
	.p-joggr-website-design.TextBox2079.bpt {
font-size: 1.6em;
	}
	.p-joggr-website-design.TextBox2073.bpt {
font-size: 3.2em;
	}
	.p-joggr-website-design.TextBox2075.bpt {
font-size: 3.4em;
color: transparent;
background-color: #d41f1f;
background-clip: text;
-webkit-background-clip: text;
	}
}