.p-logo-design-trends-to-avoid.Flex1394 {
display: flex;
width: 100%;
align-content: stretch;
justify-content: center;
position: static;
background-color: #000000;
color: #fbfbfb;
font-size: 10px;
font-family: ;
}
.p-logo-design-trends-to-avoid.Flex1393 {
display: flex;
width: 82%;
max-width: 1215px;
flex-direction: row;
padding-top: 50px;
padding-bottom: 60px;
justify-content: space-between;
align-items: flex-start;
position: relative;
row-gap: ;
column-gap: ;
}
.p-logo-design-trends-to-avoid.Flex1392 {
display: flex;
flex-direction: column;
row-gap: 12px;
padding-bottom: 60px;
justify-content: flex-start;
align-items: flex-start;
position: sticky;
top: 0;
padding-top: 30px;
}
.p-logo-design-trends-to-avoid.Flex1530 {
display: flex;
width: 58%;
flex-direction: column;
row-gap: 3.5em;
padding-top: 30px;
}
.p-logo-design-trends-to-avoid.Flex1525 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1515 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1516 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1526 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1517 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1518 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1527 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1519 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1520 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1528 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1521 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1522 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1529 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: ;
padding-bottom: 30px;
padding-left: ;
padding-top: ;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #fffcfc;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1523 {
display: flex;
column-gap: 1.1em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1524 {
display: flex;
column-gap: 2px;
align-items: flex-start;
font-size: 1.6em;
color: #d9d9d9;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1406 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10.5px;
}
.p-logo-design-trends-to-avoid.Flex1405 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: 70px;
padding-bottom: 85px;
}
.p-logo-design-trends-to-avoid.Flex1404 {
display: flex;
width: 60%;
flex-direction: column;
row-gap: 32px;
}
.p-logo-design-trends-to-avoid.Flex1401 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1395 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1396 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1397 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1402 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
}
.p-logo-design-trends-to-avoid.Flex1398 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1399 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1400 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-logo-design-trends-to-avoid.Flex1403 {
display: flex;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-left-width: 5px;
border-left-style: solid;
border-left-color: #736b6b66;
}
.p-logo-design-trends-to-avoid.Flex1412 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: IBM Plex Sans;
font-size: 9.5px;
padding-bottom: 100px;
overflow: hidden;
}
.p-logo-design-trends-to-avoid.Flex1411 {
display: flex;
justify-content: space-between;
padding-top: 45px;
position: relative;
align-items: center;
width: 82%;
max-width: 1215px;
row-gap: 50px;
column-gap: 20px;
}
.p-logo-design-trends-to-avoid.Flex1408 {
display: flex;
position: absolute;
bottom: 0;
left: 0;
}
.p-logo-design-trends-to-avoid.Flex1409 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
width: 45%;
justify-content: center;
}
.p-logo-design-trends-to-avoid.Flex1407 {
display: flex;
font-family: IBM Plex Sans;
font-size: 1.45em;
font-weight: 400;
column-gap: 4px;
}
.p-logo-design-trends-to-avoid.Flex1410 {
display: flex;
width: 60%;
height: 540px;
margin-right: ;
}
.p-logo-design-trends-to-avoid.Flex1420 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-logo-design-trends-to-avoid.Flex1419 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-logo-design-trends-to-avoid.Flex1418 {
display: flex;
flex-direction: row;
column-gap: 26.2px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.5px;
font-weight: 500;
}
.p-logo-design-trends-to-avoid.Flex1416 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Menu24 {
display: none;
}
.p-logo-design-trends-to-avoid.Flex1417 {
display: flex;
}
.p-logo-design-trends-to-avoid.Flex1415 {
display: flex;
}
.p-logo-design-trends-to-avoid.Flex1414 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-logo-design-trends-to-avoid.Flex1413 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1431 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-logo-design-trends-to-avoid.Flex1430 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 30px;
padding-left: ;
margin-top: ;
}
.p-logo-design-trends-to-avoid.Flex1427 {
display: flex;
margin-top: 50px;
column-gap: 3px;
row-gap: ;
font-size: 1.4em;
color: #8A95AD;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Flex1428 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-logo-design-trends-to-avoid.Flex1425 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-logo-design-trends-to-avoid.Flex1421 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1422 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1423 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1426 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.Flex1424 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Flex1429 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-logo-design-trends-to-avoid.TextBox1517 {
font-family: IBM Plex Sans;
font-size: 5em;
font-weight: 600;
}
.p-logo-design-trends-to-avoid.TextBox1518 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 700;
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-attachment: scroll;
background-origin: content-box;
background-repeat: repeat;
background-color: #fff6f6;
}
.p-logo-design-trends-to-avoid.TextBox1722 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-logo-design-trends-to-avoid.TextBox1702 {
;
}
.p-logo-design-trends-to-avoid.TextBox1703 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-logo-design-trends-to-avoid.TextBox1704 {
;
}
.p-logo-design-trends-to-avoid.Image413 {
height: 0.73em;
width: 0.78em;
}
.p-logo-design-trends-to-avoid.TextBox1705 {
;
}
.p-logo-design-trends-to-avoid.TextBox1723 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-logo-design-trends-to-avoid.TextBox1706 {
;
}
.p-logo-design-trends-to-avoid.Image414 {
height: 0.73em;
width: 0.78em;
}
.p-logo-design-trends-to-avoid.TextBox1707 {
;
}
.p-logo-design-trends-to-avoid.TextBox1708 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-logo-design-trends-to-avoid.TextBox1709 {
;
}
.p-logo-design-trends-to-avoid.TextBox1724 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-logo-design-trends-to-avoid.TextBox1710 {
;
}
.p-logo-design-trends-to-avoid.Image415 {
height: 0.73em;
width: 0.78em;
}
.p-logo-design-trends-to-avoid.TextBox1711 {
;
}
.p-logo-design-trends-to-avoid.TextBox1712 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-logo-design-trends-to-avoid.TextBox1713 {
;
}
.p-logo-design-trends-to-avoid.TextBox1725 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-logo-design-trends-to-avoid.TextBox1714 {
;
}
.p-logo-design-trends-to-avoid.Image416 {
height: 0.73em;
width: 0.78em;
}
.p-logo-design-trends-to-avoid.TextBox1715 {
;
}
.p-logo-design-trends-to-avoid.TextBox1716 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-logo-design-trends-to-avoid.TextBox1717 {
;
}
.p-logo-design-trends-to-avoid.TextBox1726 {
padding-top: ;
padding-bottom: 24px;
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 10px;
margin-bottom: 10px;
width: 85%;
}
.p-logo-design-trends-to-avoid.TextBox1718 {
;
}
.p-logo-design-trends-to-avoid.Image417 {
height: 0.73em;
width: 0.78em;
}
.p-logo-design-trends-to-avoid.TextBox1719 {
;
}
.p-logo-design-trends-to-avoid.TextBox1720 {
font-family: ;
font-weight: ;
color: #ffffff;
}
.p-logo-design-trends-to-avoid.TextBox1721 {
;
}
.p-logo-design-trends-to-avoid.TextBox1532 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-logo-design-trends-to-avoid.TextBox1533 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-logo-design-trends-to-avoid.TextBox1534 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666ff;
}
.p-logo-design-trends-to-avoid.TextBox1535 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-logo-design-trends-to-avoid.TextBox1536 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-logo-design-trends-to-avoid.TextBox1537 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-logo-design-trends-to-avoid.TextBox1538 {
font-size: 2.6em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-logo-design-trends-to-avoid.TextBox1539 {
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-logo-design-trends-to-avoid.TextBox1540 {
font-size: 3.6em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-logo-design-trends-to-avoid.TextBox1541 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-logo-design-trends-to-avoid.TextBox1519 {
;
}
.p-logo-design-trends-to-avoid.TextBox1520 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-logo-design-trends-to-avoid.TextBox1521 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-logo-design-trends-to-avoid.TextBox1522 {
;
}
.p-logo-design-trends-to-avoid.TextBox1523 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-logo-design-trends-to-avoid.TextBox1524 {
;
}
.p-logo-design-trends-to-avoid.TextBox1525 {
;
}
.p-logo-design-trends-to-avoid.TextBox1526 {
;
}
.p-logo-design-trends-to-avoid.TextBox1527 {
;
}
.p-logo-design-trends-to-avoid.TextBox1528 {
;
}
.p-logo-design-trends-to-avoid.TextBox1529 {
;
}
.p-logo-design-trends-to-avoid.TextBox1530 {
;
}
.p-logo-design-trends-to-avoid.TextBox1531 {
font-family: IBM Plex Sans;
font-weight: italic;
font-size: 2em;
text-align: left;
}
.p-logo-design-trends-to-avoid.Image381 {
position: static;
}
.p-logo-design-trends-to-avoid.TextBox1545 {
font-family: IBM Plex Sans;
font-size: 5.8em;
font-weight: 700;
width: ;
line-height: 1.15em;
}
.p-logo-design-trends-to-avoid.TextBox1542 {
font-size: ;
font-family: ;
font-weight: ;
background-clip: text;
-webkit-background-clip: text;
color: ;
}
.p-logo-design-trends-to-avoid.TextBox1543 {
;
}
.p-logo-design-trends-to-avoid.TextBox1544 {
;
}
.p-logo-design-trends-to-avoid.Image382 {
width: 100%;
height: 100%;
margin-top: 0px;
margin-right: ;
}
.p-logo-design-trends-to-avoid.Image385 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1552 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1553 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1554 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1555 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1551 {
;
}
.p-logo-design-trends-to-avoid.Image384 {
;
}
.p-logo-design-trends-to-avoid.TextBox1547 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1548 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1549 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1550 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.Image383 {
;
}
.p-logo-design-trends-to-avoid.TextBox1546 {
;
}
.p-logo-design-trends-to-avoid.Link317 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.Link318 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.Link319 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.TextBox1567 {
;
}
.p-logo-design-trends-to-avoid.TextBox1568 {
;
}
.p-logo-design-trends-to-avoid.TextBox1569 {
;
}
.p-logo-design-trends-to-avoid.Link320 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.TextBox1570 {
;
}
.p-logo-design-trends-to-avoid.Link321 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.TextBox1571 {
;
}
.p-logo-design-trends-to-avoid.Link322 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.TextBox1572 {
;
}
.p-logo-design-trends-to-avoid.TextBox1556 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1557 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1558 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1559 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1560 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1561 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1562 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1563 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1564 {
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1566 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-logo-design-trends-to-avoid.Image387 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1565 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-logo-design-trends-to-avoid.Image386 {
width: 30px;
}
.p-logo-design-trends-to-avoid.TextBox1573 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-logo-design-trends-to-avoid.TextBox1574 {
font-size: ;
}
@media screen and (max-width: 991px) {
	.p-logo-design-trends-to-avoid.Flex1404.bpt {
width: 100%;
	}
	.p-logo-design-trends-to-avoid.Flex1412.bpt {
align-items: center;
	}
	.p-logo-design-trends-to-avoid.Flex1408.bpt {
display: none;
	}
	.p-logo-design-trends-to-avoid.Flex1409.bpt {
width: 100%;
column-gap: ;
row-gap: 1.5em;
justify-content: flex-end;
flex-direction: column-reverse;
	}
	.p-logo-design-trends-to-avoid.Flex1410.bpt {
width: 100%;
height: 100%;
	}
	.p-logo-design-trends-to-avoid.Flex1420.bpt {
width: px;
position: static;
	}
	.p-logo-design-trends-to-avoid.Flex1416.bpt {
column-gap: 6px;
	}
	.p-logo-design-trends-to-avoid.Flex1413.bpt {
column-gap: 6px;
	}
	.p-logo-design-trends-to-avoid.TextBox1536.bpt {
font-weight: 500;
	}
	.p-logo-design-trends-to-avoid.TextBox1537.bpt {
font-weight: 500;
	}
	.p-logo-design-trends-to-avoid.Image381.bpt {
position: absolute;
bottom: 0;
left: 0;
	}
	.p-logo-design-trends-to-avoid.Image382.bpt {
margin-right: ;
width: 100%;
height: 100%;
	}
	.p-logo-design-trends-to-avoid.Flex1530.bpt {
min-width: 50%;
	}
	.p-logo-design-trends-to-avoid.Flex1411.bpt {
align-items: center;
padding-top: 30px;
padding-bottom: ;
width: 82%;
max-width: 1215px;
position: relative;
flex-direction: column;
row-gap: 40px;
	}
	.p-logo-design-trends-to-avoid.Flex1419.bpt {
padding-top: 40px;
	}
	.p-logo-design-trends-to-avoid.Flex1418.bpt {
column-gap: 28px;
display: none;
	}
	.p-logo-design-trends-to-avoid.Flex1415.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-logo-design-trends-to-avoid.Flex1414.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-logo-design-trends-to-avoid.Flex1428.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-logo-design-trends-to-avoid.Menu24.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-logo-design-trends-to-avoid.Flex1417.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-logo-design-trends-to-avoid.Flex1431.bpt {
font-size: 10.5px;
	}
	.p-logo-design-trends-to-avoid.Flex1430.bpt {
row-gap: 70px;
	}
	.p-logo-design-trends-to-avoid.Flex1425.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-logo-design-trends-to-avoid.Flex1429.bpt {
font-weight: 700;
font-size: 4.7em;
	}
}
@media screen and (max-width: 767px) {
	.p-logo-design-trends-to-avoid.Flex1394.bpt {
font-size: 8.5px;
	}
	.p-logo-design-trends-to-avoid.Flex1392.bpt {
position: static;
width: 100%;
	}
	.p-logo-design-trends-to-avoid.Flex1530.bpt {
width: 100%;
	}
	.p-logo-design-trends-to-avoid.Flex1406.bpt {
font-size: 9.5px;
	}
	.p-logo-design-trends-to-avoid.Flex1418.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-logo-design-trends-to-avoid.Flex1414.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-logo-design-trends-to-avoid.Flex1427.bpt {
flex-direction: row;
font-size: 1.4em;
display: none;
	}
	.p-logo-design-trends-to-avoid.Flex1428.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-logo-design-trends-to-avoid.Flex1426.bpt {
font-size: 1.2em;
	}
	.p-logo-design-trends-to-avoid.TextBox1724.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1725.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1726.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.Flex1393.bpt {
flex-direction: column;
	}
	.p-logo-design-trends-to-avoid.Menu24.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-logo-design-trends-to-avoid.Flex1417.bpt {
right: 0;
width: 90vw;
	}
	.p-logo-design-trends-to-avoid.Flex1431.bpt {
font-size: 10px;
	}
	.p-logo-design-trends-to-avoid.Flex1430.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-logo-design-trends-to-avoid.Flex1425.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-logo-design-trends-to-avoid.Flex1429.bpt {
font-size: 4.2em;
	}
	.p-logo-design-trends-to-avoid.TextBox1722.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1723.bpt {
width: ;
	}
}
@media screen and (max-width: 478px) {
	.p-logo-design-trends-to-avoid.Flex1393.bpt {
width: 90%;
	}
	.p-logo-design-trends-to-avoid.Flex1405.bpt {
width: 90%;
	}
	.p-logo-design-trends-to-avoid.Flex1411.bpt {
width: 90%;
	}
	.p-logo-design-trends-to-avoid.Flex1419.bpt {
width: 90%;
	}
	.p-logo-design-trends-to-avoid.Menu24.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-logo-design-trends-to-avoid.Flex1417.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-logo-design-trends-to-avoid.Flex1415.bpt {
width: 90%;
padding-left: ;
	}
	.p-logo-design-trends-to-avoid.Flex1431.bpt {
font-size: 9.5px;
	}
	.p-logo-design-trends-to-avoid.Flex1430.bpt {
width: 90%;
	}
	.p-logo-design-trends-to-avoid.Flex1425.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-logo-design-trends-to-avoid.Flex1424.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.Flex1429.bpt {
font-size: 3.8em;
	}
	.p-logo-design-trends-to-avoid.TextBox1518.bpt {
font-size: 2.45em;
	}
	.p-logo-design-trends-to-avoid.TextBox1722.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1723.bpt {
width: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1545.bpt {
font-size: 3.7em;
	}
	.p-logo-design-trends-to-avoid.TextBox1542.bpt {
font-size: ;
	}
	.p-logo-design-trends-to-avoid.TextBox1556.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1557.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1558.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1559.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1560.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1561.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1562.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1563.bpt {
cursor: pointer;
	}
	.p-logo-design-trends-to-avoid.TextBox1564.bpt {
cursor: pointer;
	}
}