.p-Projects.Flex410 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Projects.Flex409 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 42px;
padding-bottom: 8px;
}
.p-Projects.Flex408 {
display: flex;
flex-direction: row;
column-gap: 32px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
}
.p-Projects.Flex407 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Projects.Flex421 {
display: flex;
align-items: center;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-Projects.Flex456 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: 65px;
padding-bottom: 85px;
align-items: center;
justify-content: center;
}
.p-Projects.Flex458 {
display: flex;
width: 83%;
flex-direction: column;
row-gap: 65px;
align-items: center;
}
.p-Projects.Flex497 {
display: flex;
align-items: center;
overflow: visible;
width: 100%;
box-sizing: content-box;
}
.p-Projects.Flex496 {
display: flex;
flex-direction: column;
row-gap: 3em;
padding-bottom: 30px;
justify-content: flex-start;
align-items: flex-start;
position: static;
padding-top: 30px;
background-color: #050505;
color: #fdfdfd;
padding-left: 30px;
padding-right: 30px;
margin-left: -200px;
width: 100%;
}
.p-Projects.Flex494 {
display: flex;
flex-direction: column;
row-gap: 1.2em;
}
.p-Projects.Flex495 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Projects.Flex615 {
display: flex;
align-items: center;
overflow: visible;
width: 100%;
box-sizing: content-box;
}
.p-Projects.Flex614 {
display: flex;
flex-direction: column;
row-gap: 3em;
padding-bottom: 30px;
justify-content: flex-start;
align-items: flex-start;
position: static;
padding-top: 30px;
background-color: #050505;
color: #fdfdfd;
padding-left: 30px;
padding-right: 30px;
margin-left: -200px;
width: 100%;
}
.p-Projects.Flex612 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Projects.Flex613 {
display: flex;
flex-direction: column;
row-gap: 1.2em;
}
.p-Projects.Flex619 {
display: flex;
align-items: center;
overflow: visible;
width: 100%;
box-sizing: content-box;
}
.p-Projects.Flex618 {
display: flex;
flex-direction: column;
row-gap: 3em;
padding-bottom: 30px;
justify-content: flex-start;
align-items: flex-start;
position: static;
padding-top: 30px;
background-color: #050505;
color: #fdfdfd;
padding-left: 30px;
padding-right: 30px;
margin-left: -200px;
width: 100%;
}
.p-Projects.Flex616 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Projects.Flex617 {
display: flex;
flex-direction: column;
row-gap: 1.2em;
}
.p-Projects.Flex623 {
display: flex;
align-items: center;
overflow: visible;
width: 100%;
box-sizing: content-box;
}
.p-Projects.Flex622 {
display: flex;
flex-direction: column;
row-gap: 3em;
padding-bottom: 30px;
justify-content: flex-start;
align-items: flex-start;
position: static;
padding-top: 30px;
background-color: #050505;
color: #fdfdfd;
padding-left: 30px;
padding-right: 30px;
margin-left: -200px;
width: 100%;
}
.p-Projects.Flex620 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Projects.Flex621 {
display: flex;
flex-direction: column;
row-gap: 1.2em;
}
.p-Projects.Flex627 {
display: flex;
align-items: center;
overflow: visible;
width: 100%;
box-sizing: content-box;
}
.p-Projects.Flex626 {
display: flex;
flex-direction: column;
row-gap: 3em;
padding-bottom: 30px;
justify-content: flex-start;
align-items: flex-start;
position: static;
padding-top: 30px;
background-color: #050505;
color: #fdfdfd;
padding-left: 30px;
padding-right: 30px;
margin-left: -200px;
width: 100%;
}
.p-Projects.Flex624 {
display: flex;
column-gap: 1.2em;
font-family: IBM Plex Sans;
font-size: 1.8em;
font-weight: 400;
align-items: center;
}
.p-Projects.Flex625 {
display: flex;
flex-direction: column;
row-gap: 1.2em;
}
.p-Projects.Flex433 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-Projects.Flex432 {
display: flex;
flex-direction: column;
row-gap: 5em;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 5px;
padding-left: ;
margin-top: ;
}
.p-Projects.Flex429 {
display: flex;
margin-top: 50px;
column-gap: 3px;
row-gap: ;
font-size: 1.4em;
color: #8A95AD;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Projects.Flex430 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-Projects.Flex427 {
display: flex;
flex-direction: row;
column-gap: 4em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.6em;
}
.p-Projects.Flex423 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
}
.p-Projects.Flex424 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
}
.p-Projects.Flex425 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
}
.p-Projects.Flex428 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
}
.p-Projects.Flex426 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
}
.p-Projects.Flex431 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 4.8em;
font-weight: 600;
}
.p-Projects.Image118 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-Projects.TextBox315 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Projects.TextBox316 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Projects.TextBox317 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Projects.TextBox318 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-Projects.Image117 {
;
}
.p-Projects.TextBox314 {
;
}
.p-Projects.Image144 {
width: 70%;
height: 100%;
}
.p-Projects.TextBox378 {
font-family: IBM Plex Sans;
font-size: 5.6em;
font-weight: 700;
width: ;
line-height: 1em;
min-width: ;
}
.p-Projects.TextBox379 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Projects.TextBox380 {
;
}
.p-Projects.Image143 {
height: 0.73em;
width: 0.78em;
}
.p-Projects.Image184 {
width: 70%;
height: 100%;
}
.p-Projects.Image183 {
height: 0.73em;
width: 0.78em;
}
.p-Projects.TextBox452 {
;
}
.p-Projects.TextBox453 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Projects.TextBox454 {
font-family: IBM Plex Sans;
font-size: 5.6em;
font-weight: 700;
width: ;
line-height: 1em;
min-width: ;
}
.p-Projects.Image186 {
width: 70%;
height: 100%;
}
.p-Projects.Image185 {
height: 0.73em;
width: 0.78em;
}
.p-Projects.TextBox455 {
;
}
.p-Projects.TextBox456 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Projects.TextBox457 {
font-family: IBM Plex Sans;
font-size: 5.6em;
font-weight: 700;
width: ;
line-height: 1em;
min-width: ;
}
.p-Projects.Image188 {
width: 70%;
height: 100%;
}
.p-Projects.Image187 {
height: 0.73em;
width: 0.78em;
}
.p-Projects.TextBox458 {
;
}
.p-Projects.TextBox459 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Projects.TextBox460 {
font-family: IBM Plex Sans;
font-size: 5.6em;
font-weight: 700;
width: ;
line-height: 1em;
min-width: ;
}
.p-Projects.Image190 {
width: 70%;
height: 100%;
}
.p-Projects.Image189 {
height: 0.73em;
width: 0.78em;
}
.p-Projects.TextBox461 {
;
}
.p-Projects.TextBox462 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Projects.TextBox463 {
font-family: IBM Plex Sans;
font-size: 5.6em;
font-weight: 700;
width: ;
line-height: 1em;
min-width: ;
}
.p-Projects.Link170 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.Link171 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.Link172 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.TextBox335 {
;
}
.p-Projects.TextBox336 {
;
}
.p-Projects.TextBox337 {
;
}
.p-Projects.Link173 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.TextBox338 {
;
}
.p-Projects.Link174 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.TextBox339 {
;
}
.p-Projects.Link175 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.TextBox340 {
;
}
.p-Projects.Link161 {
;
}
.p-Projects.Link162 {
;
}
.p-Projects.Link163 {
;
}
.p-Projects.Link164 {
;
}
.p-Projects.Link165 {
;
}
.p-Projects.Link166 {
;
}
.p-Projects.Link167 {
;
}
.p-Projects.Link168 {
;
}
.p-Projects.Link169 {
;
}
.p-Projects.TextBox334 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Projects.Image124 {
height: ;
max-width: 100%;
text-align: left;
width: 203px;
}
.p-Projects.TextBox333 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Projects.Image123 {
width: 30px;
}
.p-Projects.TextBox341 {
;
}
.p-Projects.TextBox342 {
font-size: ;
}
@media screen and (max-width: 991px) {
	.p-Projects.Flex497.bpt {
align-items: flex-end;
padding-bottom: 60px;
	}
	.p-Projects.Flex615.bpt {
align-items: flex-end;
padding-bottom: 60px;
	}
	.p-Projects.Flex619.bpt {
align-items: flex-end;
padding-bottom: 60px;
	}
	.p-Projects.Flex623.bpt {
align-items: flex-end;
padding-bottom: 60px;
	}
	.p-Projects.Flex627.bpt {
align-items: flex-end;
padding-bottom: 60px;
	}
	.p-Projects.Image144.bpt {
width: 80%;
	}
	.p-Projects.Image184.bpt {
width: 80%;
	}
	.p-Projects.Image186.bpt {
width: 80%;
	}
	.p-Projects.Image188.bpt {
width: 80%;
	}
	.p-Projects.Image190.bpt {
width: 80%;
	}
	.p-Projects.Flex421.bpt {
font-size: 9px;
	}
	.p-Projects.Flex496.bpt {
margin-left: -317px;
padding-bottom: 30px;
margin-bottom: -60px;
	}
	.p-Projects.Flex614.bpt {
margin-left: -317px;
padding-bottom: 30px;
margin-bottom: -60px;
	}
	.p-Projects.Flex618.bpt {
margin-left: -317px;
padding-bottom: 30px;
margin-bottom: -60px;
	}
	.p-Projects.Flex622.bpt {
margin-left: -317px;
padding-bottom: 30px;
margin-bottom: -60px;
	}
	.p-Projects.Flex626.bpt {
margin-left: -317px;
padding-bottom: 30px;
margin-bottom: -60px;
	}
	.p-Projects.Flex427.bpt {
row-gap: 1.8em;
	}
}
@media screen and (max-width: 767px) {
	.p-Projects.Flex497.bpt {
width: ;
height: 100%;
	}
	.p-Projects.Flex615.bpt {
width: ;
height: 100%;
	}
	.p-Projects.Flex619.bpt {
width: ;
height: 100%;
	}
	.p-Projects.Flex623.bpt {
width: ;
height: 100%;
	}
	.p-Projects.Flex627.bpt {
width: ;
height: 100%;
	}
	.p-Projects.Flex433.bpt {
font-size: 8px;
	}
	.p-Projects.Flex429.bpt {
flex-direction: row;
font-size: 1.4em;
display: none;
	}
	.p-Projects.Flex430.bpt {
flex-direction: column;
row-gap: 4em;
	}
	.p-Projects.Flex428.bpt {
font-size: 1.2em;
	}
	.p-Projects.Image144.bpt {
width: 80%;
height: ;
	}
	.p-Projects.Image184.bpt {
width: 80%;
height: ;
	}
	.p-Projects.Image186.bpt {
width: 80%;
height: ;
	}
	.p-Projects.Image188.bpt {
width: 80%;
height: ;
	}
	.p-Projects.Image190.bpt {
width: 80%;
height: ;
	}
	.p-Projects.Flex421.bpt {
font-size: 7px;
	}
	.p-Projects.Flex496.bpt {
margin-left: -317px;
	}
	.p-Projects.Flex614.bpt {
margin-left: -317px;
	}
	.p-Projects.Flex618.bpt {
margin-left: -317px;
	}
	.p-Projects.Flex622.bpt {
margin-left: -317px;
	}
	.p-Projects.Flex626.bpt {
margin-left: -317px;
	}
	.p-Projects.Flex427.bpt {
row-gap: ;
font-size: 1.8em;
	}
}
@media screen and (max-width: 478px) {
	.p-Projects.Flex421.bpt {
font-size: 7px;
	}
	.p-Projects.Flex496.bpt {
margin-left: -222px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-top: 0px;
	}
	.p-Projects.Flex614.bpt {
margin-left: -222px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-top: 0px;
	}
	.p-Projects.Flex618.bpt {
margin-left: -222px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-top: 0px;
	}
	.p-Projects.Flex622.bpt {
margin-left: -222px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-top: 0px;
	}
	.p-Projects.Flex626.bpt {
margin-left: -222px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-top: 0px;
	}
	.p-Projects.Flex427.bpt {
flex-direction: column;
row-gap: 1.8em;
	}
	.p-Projects.TextBox378.bpt {
font-size: 4em;
	}
	.p-Projects.TextBox454.bpt {
font-size: 4em;
	}
	.p-Projects.TextBox457.bpt {
font-size: 4em;
	}
	.p-Projects.TextBox460.bpt {
font-size: 4em;
	}
	.p-Projects.TextBox463.bpt {
font-size: 4em;
	}
}