.p-soulful-rebrand.Flex1870 {
display: flex;
justify-content: center;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-soulful-rebrand.Flex1869 {
display: flex;
flex-direction: column;
row-gap: 80px;
width: 82%;
max-width: 1215px;
padding-top: 110px;
padding-bottom: 90px;
padding-left: ;
margin-top: ;
}
.p-soulful-rebrand.Flex1867 {
display: flex;
flex-direction: column;
row-gap: ;
font-family: IBM Plex Sans;
font-size: 5.3em;
font-weight: 700;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1868 {
display: flex;
justify-content: space-between;
min-width: px;
}
.p-soulful-rebrand.Flex1865 {
display: flex;
flex-direction: column;
row-gap: 1.5em;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1861 {
display: flex;
row-gap: ;
column-gap: 14px;
align-items: center;
cursor: pointer;
}
.p-soulful-rebrand.Flex1866 {
display: flex;
flex-direction: row;
column-gap: 5.5em;
row-gap: ;
flex-wrap: wrap;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 1.8em;
}
.p-soulful-rebrand.Flex1862 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1863 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1864 {
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 1.8em;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1891 {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
align-items: center;
font-family: IBM Plex Sans;
font-size: 10px;
}
.p-soulful-rebrand.Flex1888 {
display: flex;
width: 82%;
max-width: 1215px;
padding-top: ;
padding-bottom: ;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 700;
align-items: stretch;
margin-top: 80px;
margin-bottom: 80px;
}
.p-soulful-rebrand.Flex1885 {
display: flex;
flex-direction: column;
row-gap: 12px;
width: 58%;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1886 {
display: flex;
flex-direction: row;
width: 38%;
justify-content: space-between;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1882 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1883 {
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: flex-start;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1889 {
display: flex;
width: 100%;
height: 600px;
}
.p-soulful-rebrand.Flex1890 {
display: flex;
}
.p-soulful-rebrand.Flex1887 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: 10.5px;
}
.p-soulful-rebrand.Flex1884 {
display: flex;
width: ;
max-width: 800px;
padding-top: 140px;
padding-bottom: 140px;
margin-top: ;
flex-direction: column;
padding-left: ;
padding-right: ;
align-items: center;
row-gap: 80px;
}
.p-soulful-rebrand.Flex1880 {
display: flex;
width: ;
flex-direction: column;
row-gap: 32px;
font-size: 10px;
}
.p-soulful-rebrand.Flex1877 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
align-items: flex-start;
}
.p-soulful-rebrand.Flex1871 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1872 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1873 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1878 {
display: flex;
flex-direction: column;
font-size: 1.85em;
font-family: IBM Plex Sans;
font-weight: 400;
color: #606060;
row-gap: 11px;
}
.p-soulful-rebrand.Flex1874 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1875 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1876 {
display: flex;
row-gap: ;
column-gap: 10px;
}
.p-soulful-rebrand.Flex1879 {
display: flex;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-left-width: 5px;
border-left-style: solid;
border-left-color: #736b6b66;
}
.p-soulful-rebrand.Flex1881 {
display: flex;
font-family: IBM Plex Sans;
font-size: 1em;
cursor: pointer;
align-items: center;
row-gap: ;
column-gap: 18px;
}
.p-soulful-rebrand.Flex1899 {
display: flex;
justify-content: center;
padding-top: ;
padding-bottom: ;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-soulful-rebrand.Flex1898 {
display: flex;
justify-content: space-between;
width: 82%;
max-width: 1215px;
align-items: center;
padding-top: 40px;
padding-bottom: 8px;
}
.p-soulful-rebrand.Flex1897 {
display: flex;
flex-direction: row;
column-gap: 26.5px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16.7px;
font-weight: 500;
}
.p-soulful-rebrand.Flex1895 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.Menu30 {
display: none;
}
.p-soulful-rebrand.Flex1896 {
display: flex;
}
.p-soulful-rebrand.Flex1894 {
display: flex;
}
.p-soulful-rebrand.Flex1893 {
display: flex;
flex-direction: row;
column-gap: 28px;
align-items: center;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
}
.p-soulful-rebrand.Flex1892 {
display: flex;
column-gap: 8px;
align-items: center;
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2136 {
font-size: ;
}
.p-soulful-rebrand.TextBox2137 {
background-image: ;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-color: #faecec;
background-attachment: scroll;
cursor: pointer;
}
.p-soulful-rebrand.Image515 {
height: ;
max-width: 100%;
text-align: left;
width: 190px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2135 {
color: #666666;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-soulful-rebrand.Image514 {
width: 30px;
}
.p-soulful-rebrand.TextBox2125 {
color: #5c5c5c;
font-size: 1.5em;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-soulful-rebrand.TextBox2126 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2127 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2128 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2129 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2130 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2131 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2132 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2133 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2134 {
cursor: pointer;
}
.p-soulful-rebrand.TextBox2166 {
font-size: 5.4em;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2167 {
font-size: 1.4em;
color: transparent;
background-color: #cbc734;
background-clip: text;
-webkit-background-clip: text;
}
.p-soulful-rebrand.TextBox2162 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-soulful-rebrand.TextBox2163 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-soulful-rebrand.TextBox2164 {
font-size: 2.4em;
line-height: 1.2em;
}
.p-soulful-rebrand.TextBox2165 {
font-size: 1.8em;
font-family: IBM Plex Sans;
font-weight: 400;
line-height: 1.1em;
color: #666666;
}
.p-soulful-rebrand.Image517 {
width: 100%;
}
.p-soulful-rebrand.TextBox2151 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-soulful-rebrand.TextBox2152 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-soulful-rebrand.TextBox2153 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666ff;
}
.p-soulful-rebrand.TextBox2154 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-soulful-rebrand.TextBox2155 {
font-size: 2.1em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2156 {
font-size: 2.2em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2157 {
font-size: 2.6em;
font-family: IBM Plex Sans;
font-weight: 600;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2158 {
font-size: 2.8em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2159 {
font-size: 3.6em;
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 1.1em;
}
.p-soulful-rebrand.TextBox2160 {
font-family: IBM Plex Sans;
font-size: 2.1em;
font-weight: 400;
color: #666666;
}
.p-soulful-rebrand.TextBox2138 {
;
}
.p-soulful-rebrand.TextBox2139 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-soulful-rebrand.TextBox2140 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-soulful-rebrand.TextBox2141 {
;
}
.p-soulful-rebrand.TextBox2142 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-soulful-rebrand.TextBox2143 {
;
}
.p-soulful-rebrand.TextBox2144 {
;
}
.p-soulful-rebrand.TextBox2145 {
;
}
.p-soulful-rebrand.TextBox2146 {
;
}
.p-soulful-rebrand.TextBox2147 {
;
}
.p-soulful-rebrand.TextBox2148 {
;
}
.p-soulful-rebrand.TextBox2149 {
;
}
.p-soulful-rebrand.TextBox2150 {
font-family: IBM Plex Sans;
font-weight: italic;
font-size: 2em;
text-align: left;
}
.p-soulful-rebrand.TextBox2161 {
font-size: 4.2em;
font-family: IBM Plex Sans;
font-weight: 700;
color: transparent;
background-color: #dd1a1a;
background-clip: text;
-webkit-background-clip: text;
}
.p-soulful-rebrand.Image516 {
margin-bottom: 0px;
width: 3.4em;
height: 3.4em;
}
.p-soulful-rebrand.Image520 {
height: 28px;
max-width: 100%;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2174 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2175 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2176 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2177 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2173 {
;
}
.p-soulful-rebrand.Image519 {
;
}
.p-soulful-rebrand.TextBox2169 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2170 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2171 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.TextBox2172 {
padding-left: 6px;
padding-right: 6px;
line-height: 28px;
cursor: pointer;
}
.p-soulful-rebrand.Image518 {
;
}
.p-soulful-rebrand.TextBox2168 {
;
}
@media screen and (max-width: 991px) {
	.p-soulful-rebrand.Flex1885.bpt {
width: 100%;
	}
	.p-soulful-rebrand.Flex1882.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-soulful-rebrand.Flex1883.bpt {
width: 47%;
row-gap: 25px;
	}
	.p-soulful-rebrand.Flex1899.bpt {
width: px;
position: static;
	}
	.p-soulful-rebrand.Flex1895.bpt {
column-gap: 6px;
	}
	.p-soulful-rebrand.Flex1892.bpt {
column-gap: 6px;
	}
	.p-soulful-rebrand.TextBox2155.bpt {
font-weight: 500;
	}
	.p-soulful-rebrand.TextBox2156.bpt {
font-weight: 500;
	}
	.p-soulful-rebrand.Flex1868.bpt {
flex-direction: column;
row-gap: 60px;
align-items: flex-start;
	}
	.p-soulful-rebrand.Flex1888.bpt {
flex-direction: column;
row-gap: 44px;
	}
	.p-soulful-rebrand.Flex1886.bpt {
width: 100%;
	}
	.p-soulful-rebrand.Flex1889.bpt {
height: 400px;
	}
	.p-soulful-rebrand.Flex1884.bpt {
width: 82%;
	}
	.p-soulful-rebrand.Flex1880.bpt {
width: 100%;
font-size: 10px;
	}
	.p-soulful-rebrand.Flex1898.bpt {
padding-top: 40px;
	}
	.p-soulful-rebrand.Flex1897.bpt {
column-gap: 28px;
display: none;
	}
	.p-soulful-rebrand.Flex1894.bpt {
width: 82%;
max-width: 1215px;
z-index: 10;
padding-left: ;
	}
	.p-soulful-rebrand.Flex1893.bpt {
column-gap: 28px;
display: flex;
z-index: 10;
flex-direction: column;
align-items: flex-start;
row-gap: 28px;
font-size: 17px;
font-weight: 500;
	}
	.p-soulful-rebrand.Image516.bpt {
width: 3.2em;
height: 3.2em;
	}
	.p-soulful-rebrand.Flex1870.bpt {
font-size: 10.5px;
	}
	.p-soulful-rebrand.Flex1869.bpt {
row-gap: 70px;
	}
	.p-soulful-rebrand.Flex1867.bpt {
font-weight: 700;
font-size: 4.7em;
	}
	.p-soulful-rebrand.Flex1866.bpt {
row-gap: 1.8em;
justify-content: flex-start;
	}
	.p-soulful-rebrand.Menu30.bpt {
display: flex;
position: relative;
overflow: visible;
padding-left: 18px;
padding-top: 18px;
padding-right: 18px;
padding-bottom: 18px;
	}
	.p-soulful-rebrand.Flex1896.bpt {
z-index: 5;
background-color: #ffffff;
right: 0;
width: 89.5vw;
position: absolute;
padding-left: ;
margin-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
overflow: hidden;
height: ;
padding-top: 24px;
padding-bottom: 50px;
	}
	.p-soulful-rebrand.TextBox2166.bpt {
font-size: 5em;
	}
	.p-soulful-rebrand.TextBox2161.bpt {
font-size: 4em;
	}
}
@media screen and (max-width: 767px) {
	.p-soulful-rebrand.Flex1868.bpt {
flex-direction: column;
row-gap: 70px;
align-items: flex-start;
	}
	.p-soulful-rebrand.Flex1865.bpt {
font-size: 1.2em;
	}
	.p-soulful-rebrand.Flex1887.bpt {
font-size: 9.5px;
	}
	.p-soulful-rebrand.Flex1880.bpt {
font-size: 8px;
	}
	.p-soulful-rebrand.Flex1897.bpt {
display: none;
flex-direction: column;
row-gap: 28px;
width: px;
position: absolute;
text-align: center;
	}
	.p-soulful-rebrand.Flex1893.bpt {
display: flex;
flex-direction: column;
row-gap: 20px;
width: px;
position: static;
text-align: center;
	}
	.p-soulful-rebrand.TextBox2151.bpt {
font-size: 2em;
	}
	.p-soulful-rebrand.TextBox2152.bpt {
font-size: 2em;
	}
	.p-soulful-rebrand.TextBox2153.bpt {
font-size: 2em;
	}
	.p-soulful-rebrand.TextBox2154.bpt {
font-size: 2em;
	}
	.p-soulful-rebrand.TextBox2158.bpt {
font-size: 2.6em;
	}
	.p-soulful-rebrand.TextBox2160.bpt {
font-size: 2em;
	}
	.p-soulful-rebrand.Image516.bpt {
width: 3em;
height: 3em;
	}
	.p-soulful-rebrand.Flex1870.bpt {
font-size: 10px;
	}
	.p-soulful-rebrand.Flex1869.bpt {
padding-bottom: 60px;
row-gap: 70px;
	}
	.p-soulful-rebrand.Flex1867.bpt {
font-size: 4.2em;
	}
	.p-soulful-rebrand.Flex1866.bpt {
row-gap: ;
font-size: 1.8em;
column-gap: 7em;
	}
	.p-soulful-rebrand.Menu30.bpt {
display: flex;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
	}
	.p-soulful-rebrand.Flex1896.bpt {
right: 0;
width: 90vw;
	}
	.p-soulful-rebrand.TextBox2166.bpt {
font-size: 4em;
	}
	.p-soulful-rebrand.TextBox2163.bpt {
font-size: 2.1em;
	}
	.p-soulful-rebrand.TextBox2164.bpt {
font-size: 2.1em;
	}
	.p-soulful-rebrand.TextBox2159.bpt {
font-size: 3.4em;
	}
	.p-soulful-rebrand.TextBox2161.bpt {
font-size: 3.8em;
	}
}
@media screen and (max-width: 478px) {
	.p-soulful-rebrand.Flex1870.bpt {
font-size: 9.5px;
	}
	.p-soulful-rebrand.Flex1869.bpt {
width: 90%;
	}
	.p-soulful-rebrand.Flex1867.bpt {
font-size: 3.8em;
	}
	.p-soulful-rebrand.Flex1861.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.Flex1866.bpt {
flex-direction: row;
row-gap: 1.8em;
justify-content: flex-start;
font-size: 1.9em;
	}
	.p-soulful-rebrand.Flex1888.bpt {
margin-bottom: 40px;
width: 90%;
	}
	.p-soulful-rebrand.Flex1886.bpt {
flex-direction: column;
row-gap: 32px;
	}
	.p-soulful-rebrand.Flex1889.bpt {
height: 300px;
	}
	.p-soulful-rebrand.Flex1884.bpt {
width: 90%;
	}
	.p-soulful-rebrand.Flex1898.bpt {
width: 90%;
	}
	.p-soulful-rebrand.Menu30.bpt {
width: ;
height: ;
padding-left: 8px;
padding-top: 8px;
padding-right: 8px;
padding-bottom: 8px;
	}
	.p-soulful-rebrand.Flex1896.bpt {
width: 95vw;
max-width: ;
min-width: ;
right: 0;
	}
	.p-soulful-rebrand.Flex1894.bpt {
width: 90%;
padding-left: ;
	}
	.p-soulful-rebrand.TextBox2126.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2127.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2128.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2129.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2130.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2131.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2132.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2133.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2134.bpt {
cursor: pointer;
	}
	.p-soulful-rebrand.TextBox2166.bpt {
font-size: 3.6em;
	}
	.p-soulful-rebrand.TextBox2162.bpt {
font-size: 1.6em;
	}
	.p-soulful-rebrand.TextBox2163.bpt {
font-size: 1.8em;
	}
	.p-soulful-rebrand.TextBox2164.bpt {
font-size: 1.8em;
	}
	.p-soulful-rebrand.TextBox2165.bpt {
font-size: 1.6em;
	}
	.p-soulful-rebrand.TextBox2159.bpt {
font-size: 3.2em;
	}
	.p-soulful-rebrand.TextBox2161.bpt {
font-size: 3.4em;
color: transparent;
background-color: #d41f1f;
background-clip: text;
-webkit-background-clip: text;
	}
}